<nav class="nav flex-column">
    <ng-template ngFor let-listItem [ngForOf]="mainNav">
        <a 
            *ngIf="canView(listItem)" 
            class="nav-link navLink text-right" 
            [ngClass]="{'small': listItem.size=='sub'}"
            [routerLink]="[listItem.link]" 
            routerLinkActive="active">
            {{listItem.text}}
        </a>

        <br *ngIf="listItem.type == 'gap' && listItem.active">
    </ng-template>
    <br>
    <ng-template ngFor let-listItem [ngForOf]="userNav">
        <a 
            *ngIf="canView(listItem)"
            class="nav-link navLink text-right" 
            [ngClass]="{'small': listItem.size=='sub'}"
            [routerLink]="['/user']" 
            [fragment]="listItem.fragment"
            routerLinkActive="active">
            {{listItem.text}}
        </a>
        <br *ngIf="listItem.type == 'gap' && listItem.active">
    </ng-template>
</nav>