  <mat-form-field class="w-100" floatLabel="never">
      <input matInput
      [matAutocomplete]="auto" 
      type="text"
      [formControl]="destination" 
      placeholder="Enter city or country"
      autocomplete="off"
      [matAutocompleteDisabled]="disabled"
      (click)="$event.target.select()"
      #inputDestination>
      <mat-icon matPrefix class="mr-2">place</mat-icon>
  </mat-form-field>
  
<mat-autocomplete 
    [autoActiveFirstOption]="true" 
    #auto="matAutocomplete"
    [displayWith]="displayDestination">
  <mat-option 
    *ngFor="let option of filteredDestOptions | async" 
    [value]="option">
    {{option.fullName}}
    </mat-option>
</mat-autocomplete>