<app-dialog-header
  [super]="profileName"
  header="Import Collections"
  [showReturn]="step === 2"
  (return)="back()"
  (close)="onClose()"></app-dialog-header>

<mat-dialog-content>
  <div
    *ngIf="step === 1"
    @transitionTrigger
    (@transitionTrigger.start)="step === 2 && windowService.updateOpenDialogs()">
    <div id="sticky">
      <p class="form-heading">Import Collections:</p>
      <search-field
        [(value)]="searchString"
        placeholder="Search Collections">
      </search-field>
    </div>
    <collection-selector
      [used]="usedCollections"
      [collections]="collections"
      [(selected)]="selectedCollections"
      [filterInput]="searchString"
      *ngIf="!loading && collections; else stillLoading">
    </collection-selector>
    <ng-template #stillLoading>
      <p class="text-center text-muted small">
        Loading Collections
        <br>
        <mat-spinner
          diameter="20"
          style="display:inline"></mat-spinner>
      </p>
    </ng-template>
  </div>

  <div
    class="dialog-row"
    *ngIf="step === 2"
    (@transitionTrigger.start)="step === 1 && windowService.updateOpenDialogs()"
    @transitionTrigger>
    <p class="text-center my-1">Import Collections to Travelers:</p>
    <div class="text-center my-2">
      <profile-selector
        iconWidth="50px"
        [profiles]="profileGroup"
        [(selected)]="selectedProfiles"
        [multiselect]="true"
        [showNames]="true">
      </profile-selector>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <dialog-confirm-button>
    <button
      mat-fab
      activeColor="action"
      (click)="onConfirm()"
      [disabled]="!valid()">
      <mat-icon>check</mat-icon>
    </button>
  </dialog-confirm-button>
</mat-dialog-actions>
