<mat-card class="mat-card-list-item with-selection" 
  [class.cardless]="!useCard" 
  [class.popout]="!editList" 
  [class.selectable]="editList" 
  [class.selected]="selected">

    <div class="checkbox-container" *ngIf="editList" @expandAndFadeTrigger>
      <mat-checkbox [checked]="selected" (change)="onCheckboxChange($event)"></mat-checkbox>
    </div>

    <div class="packable" (click)="onClickPackable()">

      <div class="first-row">
        <div class="name" [class.text-success]="recentlyChanged">
          <p>{{packable.name | titlecase}}</p>
        </div>
        <div class="rule-icons">
          <div class="icon-container" *ngFor="let icon of packable.icons">
            <mat-icon style="width: 100%; height: 100%;" [title]="icon.description" [svgIcon]="icon.icon"></mat-icon>
          </div>
        </div>
      </div>

      <div class="quantity">
        <span *ngFor="let rule of packable.rules; let i=index" [class.text-success]="recentlyChanged">
          {{rule}}{{ i == packable.rules.length-1 ? "" : ", " }}
        </span>
      </div>
    </div>

  </mat-card>