.profileHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    padding: 0;
    margin: 0;
}

@keyframes popin {
    0% {
        font-size: 70%;
        opacity: 0;
        transform: rotate(-600deg);
    }
    100% {
        font-size: 100%;
        opacity: 1;
        transform: rotate(0deg);
    }

}
.completedTick{
    color:#ff4081;
    animation-name: popin;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(.33,1.26,.39,1.02);
    animation-iteration-count: 1;
}


ul.packingList {
    padding: 0;
}

.mat-expansion-panel-header-description{
    flex-grow: 0;
    align-self: center;
}

.setting_header{
    padding: 0 4px;
    font-size: 80%;
}