<app-nav
  [header]="displayTrip ? displayTrip.destinationName : 'Packing List'">
</app-nav>

<div class="row">
  <ng-template #notLoaded>
    <ng-container *ngIf="!(loading$ | async); else loading">
      <div class="col">No packing list was loaded.</div>
    </ng-container>
    <ng-template #loading>
      <div class="col">
        <i class="fas fa-sync-alt fa-spin"></i>
        Loading List...
      </div>
    </ng-template>
  </ng-template>
  <div
    *ngIf="packingList && sortedList; else notLoaded"
    class="col"
    id="section-to-print">
    <packinglist-settings
      [trip]="trip"
      [packingList]="packingList"
      [displayTrip]="displayTrip">
    </packinglist-settings>

    <div class="row my-2">
      <mat-accordion
        multi="true"
        class="w-100">
        <mat-expansion-panel
          *ngFor="let profile of sortedList; let i = index"
          [hideToggle]="true"
          [class.mat-elevation-z0]="windowService.max('sm')"
          [expanded]="windowService.min('sm')"
          [disabled]="windowService.min('sm')"
          #panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span
                class="mat-expansion-indicator"
                [class.expanded]="panel.expanded"
                *ngIf="!panel.disabled"></span>
              <div class="profileHeader">
                <profile-icon
                  [avatar]="profile.avatar"
                  [width]="windowService.max('sm') ? '40px' : '50px'"
                  [fullFrame]="profile.id === 'shared'"></profile-icon>
                <h4 class="m-0 text-capitalize">{{profile.header}}</h4>
                <h4 class="m-1">
                  <mat-icon
                    [inline]="true"
                    class="completedTick"
                    *ngIf="isProfileChecked(profile)"
                    appColor="accent">
                    done_outline
                  </mat-icon>
                </h4>
              </div>
            </mat-panel-title>
            <mat-panel-description>
              {{countCompletedInProfile(profile)}} / {{countPackablesInProfile(profile)}}
            </mat-panel-description>
            <div
              class="profile-options"
              InnerLink>
              <button
                mat-icon-button
                [matMenuTriggerFor]="profileDropDown"
                title="Traveler List Options"
                activeColor="muted">
                <i class="material-icons">more_vert</i>
              </button>
              <mat-menu #profileDropDown="matMenu">
                <button mat-menu-item>
                  <mat-icon outlined>share</mat-icon>
                  <span>Share</span>
                </button>
                <button
                  mat-menu-item
                  (click)="tickAllProfile(profile)">
                  <mat-icon>done_all</mat-icon>
                  <span>Check All</span>
                </button>
                <button
                  mat-menu-item
                  (click)="resetAllProfile(profile)">
                  <mat-icon>replay</mat-icon>
                  <span>Reset List</span>
                </button>
              </mat-menu>
            </div>
          </mat-expansion-panel-header>
          <app-column-divider [cols]="windowService.max('sm') ? 1 : (windowService.max('xxl') ? 2 : 3)">
            <ng-container *ngFor="let collection of profile.collections">
              <packing-list-collection
                *ngIf="collection.validPackables() > 0 || packingListSettings.showInvalid"
                [listSettings]="packingListSettings"
                [(collection)]="collection"
                [trip]="trip"
                [(editingPackable)]="editingPackable">
              </packing-list-collection>
            </ng-container>
          </app-column-divider>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
