.profileHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    padding: 0;
    margin: 0;
}

@keyframes popin {
    0% {
        font-size: 70%;
        opacity: 0;
        transform: rotate(-600deg);
    }
    100% {
        font-size: 100%;
        opacity: 1;
        transform: rotate(0deg);
    }

}
.completedTick{
    vertical-align: middle;
    animation-name: popin;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(.33,1.26,.39,1.02);
    animation-iteration-count: 1;
}


ul.packingList {
    padding: 0;
}

.mat-expansion-panel-header-description{
    flex-grow: 0;
    align-self: center;
}

.setting_header{
    padding: 0 4px;
    font-size: 80%;
}

.profile-options{
    align-self: center;
}

.mat-expansion-indicator{
    align-self: center;
    padding: 0.2em;
    transition: all 100ms;
    position: absolute;
    transform: translateX(-14px);
}
.mat-expansion-indicator.expanded{
    transform:translateX(-14px) rotate(180deg);
}