<toolbar>

  <ng-container ngProjectAs="[toolbar-left]">
    <div class="small text-muted">
      <p>
        <span [innerHtml]="displayTrip.displayDate"></span>
        &nbsp;({{packingList.data.totalDays}}&nbsp;Days)
      </p>
      <p>
        <span [innerHtml]="packingList.data.weatherData.forecastString()"></span>
        <span *ngIf="packingList.data.weatherData.dataInput == 'manual'">&nbsp;(Set Manually)</span>
      </p>
    </div>
  </ng-container>
  <ng-container ngProjectAs="[toolbar-right]">
      <button
      mat-icon-button
      activeColor="action"
      [matMenuTriggerFor]="editListMenu">
      <mat-icon svgIcon="list-edit"></mat-icon>
    </button>
    <mat-menu #editListMenu="matMenu">
      <button
        mat-menu-item
        (click)="checkAll()">
        <mat-icon>done_all</mat-icon>
        <span>Tick All</span>
      </button>
      <button
        mat-menu-item
        (click)="checkAll(false)">
        <mat-icon outlined>indeterminate_check_box</mat-icon>
        <span>Untick all</span>
      </button>
      <button
        mat-menu-item
        (click)="resetList()">
        <mat-icon>replay</mat-icon>
        <span>Reset List</span>
      </button>
    </mat-menu>
    <button
      mat-icon-button
      activeColor="accent"
      [activeColorState]="anySettingToggled() ? 'inactive' : 'muted'"
      [matMenuTriggerFor]="displaySettings">
      <mat-icon outlined>visibility</mat-icon>
    </button>
    <mat-menu #displaySettings="matMenu">
      <button
        mat-menu-item
        (click)="toggleSettings('showWarnings')"
        InnerLink>
        <mat-icon
          svgIcon="weather_error"
          [activeColor]="settings.showWarnings ? 'accent' : 'muted'"></mat-icon>
        <span>Warnings</span>
      </button>
      <button
        mat-menu-item
        (click)="toggleSettings('showCalculations')"
        InnerLink>
        <mat-icon
          outlined
          [activeColor]="settings.showCalculations ? 'accent' : 'muted'">
          info
        </mat-icon>
        <span>Calculations</span>
      </button>
      <button
        mat-menu-item
        InnerLink
        (click)="toggleSettings('showInvalid')">
        <mat-icon
          svgIcon="t-shirt-remove"
          [activeColor]="settings.showInvalid ? 'accent' : 'muted'"></mat-icon>
        <span>Removed Packables</span>
      </button>
    </mat-menu>
    <button
      mat-icon-button
      activeColor="accent"
      [activeColorState]="settings.editMode ? 'inactive' : 'muted'"
      (click)="toggleSettings('editMode')">
      <mat-icon outlined>edit</mat-icon>
    </button>
  </ng-container>
</toolbar>