<div id="form" class="full-flex" *ngIf="!selectPackables">
  <app-mobile-nav [nav]="navParams" (leftAction)="return()" (rightAction)="onNext()"></app-mobile-nav>

  <div class="ff-row-main">
    <div class="text-center text-sm-left small text-muted mb-1" *ngIf="profile">
      <span *ngIf="profile">{{profile.name || "New Profile"}} <i class="fas fa-angle-right align-text-bottom"></i></span>
      <span>{{editMode? originalCollection.name : "New Collection"}}</span>
    </div>
    <form [formGroup]="collectionForm">

      <div class="form-border" *ngIf="!editMode">
        <div class="form-row">
          <div class="col-12 col-sm-8 col-md-6">
            <div class="form-group m-0">
              <label for="name">Collection Name</label>
              <input type="text" class="form-control" name="name" placeholder="e.g Winter Clothes" formControlName="name" #nameInput>
            </div>
          </div>
          <div class="col-12">
            <div class="help-block" *ngIf="collectionForm.get('name').errors && collectionForm.get('name').touched">
              <div class="invalid-feedback d-block" *ngIf="collectionForm.get('name').errors['pattern']">
                The name may consist of regular alphabet, numbers and some basic special characters.
              </div>
              <div class="invalid-feedback d-block" *ngIf="collectionForm.get('name').errors['required']">
                This collection needs a name...
              </div>
              <div class="invalid-feedback d-block" *ngIf="collectionForm.get('name').errors['nameUsed']">
                This collection name is already taken
              </div>
            </div>
          </div>
          <div class="col-12 d-flex flex-sm-row-reverse justify-content-between justify-content-sm-end mt-2">
            <span>
              Set as an Activity
              <a (click)="openModal(activityModal)">
                <i class="far fa-question-circle small text-info"></i>
              </a>

            </span>
            <span class="mr-1">
              <mat-slide-toggle name="activity" formControlName="activity" color="primary" aria-label="Set as activity">
              </mat-slide-toggle>
            </span>
          </div>
        </div>
      </div>
      <div class="form-border" *ngIf="editMode && advancedForm">
        <div class="form-row">
          <div class="col-12 d-flex flex-sm-row-reverse justify-content-between justify-content-sm-end mt-2">
            <span>
              Use custom settings
            </span>
            <span class="mr-1">
              <mat-slide-toggle name="subscribe" (change)="toggleSubscribeToOriginal($event)" [checked]="!getSubscribeToOriginal()"
                color="primary" aria-label="use custom settings">
              </mat-slide-toggle>
            </span>
          </div>
        </div>
      </div>
      <div class="py-2" *ngIf="editMode && advancedForm">
        <div class="form-row">
            <div class="col-12">
                <p class="small m-0" *ngIf="!getSubscribeToOriginal()">
                  <small class="text-muted">Changes you make will only affect the collection in this profile. Turn this off to use the default settings. To make changes to the collection's default settings please visit the
                    <a routerLink="/collections">Collections</a> page.</small>
                </p>
                <p class="small m-0" *ngIf="getSubscribeToOriginal()">
                  <small class="text-muted">You are using the Collection's default settings. Turn this on to customise this Collection. To make changes to the default settings please visit the
                    <a routerLink="/collections">Collections</a> page.</small>
                </p>
              </div>
        </div>
      </div>
  



      <div class="form-border" [ngClass]="{'border-orange': packables_warning_style() }" 
      *ngIf="showAdvanceOptions(); else defaultSettings">
        <div class="form-border-header pointer" (click)="editSelection()">
          <h5>Packables:</h5>
          <span class="text-primary">Edit
            <i class="fas fa-chevron-right"></i>
          </span>
        </div>
        <div class="form-row">
          <div class="col-12">
            <span 
            *ngFor="let packable of getPackables(); let i = index" 
            class="tag" 
            [ngClass]="{'clickable':profile!=null}" 
            (click)="editPackable(packable.id)">
              {{packable.name}}
              <a (click)="removePackableFromCollection(i)" class="remove_packable">
                <i class="far fa-times-circle"></i>
              </a>
            </span>
            <span *ngIf="getPackables().length == 0">
              <p class="text-danger small m-0 text-center" [ngClass]="{'text-muted': !packables_warning_style()}">Please
                add at least one Packable to this collection.
                <br><a class="inline-link" (click)="editSelection()">Add Packables?</a></p>
            </span>
          </div>
        </div>
      </div>
      <div class="form-border" *ngIf="showAdvanceOptions()">
        <div class="form-border-header">
          <h5>Weather Conditions</h5>
          <a (click)="openModal(weatherModal)" class="mr-auto ml-1">
            <i class="far fa-question-circle small text-info"></i>
          </a>
        </div>
        <div class="form-row">
          <div class="col-12 mt-1 mb-2 small text-muted">
            This Collection's Packables will only be added to a trip if
            <b>all</b> the conditions below are met:
          </div>
        </div>
        <!--app-weather-conditions-form [inputWeatherRule]="getWeatherRules()" (change)="setWeatherRules($event)"></app-weather-conditions-form-->
      </div>
      <ng-template #defaultSettings>
          <div class="form-border" *ngIf="editMode">
            <div class="form-row">
              <div class="col-12"><h5>Packables:</h5></div>
              
            </div>
            <div class="form-row">
              <div class="col-12">
                <span *ngFor="let packable of getPackables(); let i = index" class="tag">
                  <i class="fa fa-{{packable.icon || 'suitcase'}} p-1"></i> {{packable.name}}
                </span>
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-12"><h5>Weather Conditions:</h5></div>
            </div>
            <div class="form-row">
              <div class="col-12">
               <p>Min Temperature: {{getWeatherRules().minTemp > absoluteMin ? getWeatherRules().minTemp : 'Any'}}</p> 
               <p>Max Temperature: {{getWeatherRules().maxTemp < absoluteMax ? getWeatherRules().maxTemp : 'Any'}}</p>
               <p>On trips with: {{getWeatherRules().weatherTypes.length > 0 ? (getWeatherRules().weatherTypes | join:', ' | titlecase) : 'Any type of weather.'}}</p>
              </div>
              
            </div>
          </div>
        </ng-template>
  
      <app-desktop-nav [nav]="navParams" (leftAction)="return()" (rightAction)="onNext()" (optionAction)="onOption($event)"></app-desktop-nav>

    </form>
  </div>

</div>

<ng-template #activityModal>
  <H5>Activities</H5>
  <p>If you mark a Collection as an Activity, the items inside it will only show on trips where that activity is selected.
    <br>Note: You must add this Activity to each profile that may need to use it on a future trip.</p>
  <p class="alert alert-info">E.g A Diving Collection can contain your diving equipment, sunscreen and a towel. If you mark
    it as an Activity and add it to a Profile, it would appear as an option in your Trip Settings. Selecting that option
    when creating your trip would add the Collection Packables to your packing list on that Trip.</p>
  <i>Changing this setting will affect all the profiles that already contain this Collection</i>
</ng-template>

<ng-template #weatherModal>
  <H5>Weather Conditions</H5>
  <p>Set certain conditions for adding this collection to a trip. This collection will be added with the quantity you set,
    if all the conditions are met.</p>
  <h6>Minimum Temperature</h6>
  <p>Only add this collection if the temperature in a trip will ever be <b>equal to</b> or <b>over</b> the set value.</p>
  <h6>Maximum Temperature</h6>
  <p>Only add this collection if the temperature in a trip will ever be <b>less than</b> the set value.</p>
  <h6>Weather Types</h6>
  <p>Only add this collection if <b>at least one</b> of the selected weather conditions are forecasted for the trip.<br>    Selecting
    All will require at least one of the listed weather conditions to be forecasted.<br> Selecting None will not restrict
    the collection to a weather condition. I.e. it will be added no matter what the forecast will be.</p>
  <p class="alert alert-info">
    <b>E.g.</b> Your "Rain Gear" collection conditions are Minimum 5&#176;C, and Maximum 17&#176;C, and you selected only
    'Rain'.
    <br> The trip you are going on will have 14&#176;C temperature, some snowfall, and sunny weather, but no rain. Therefore,
    the "Rain Gear" collection will not be added to the trip.
  </p>
</ng-template>