<app-dialog-header [super]="alias" header="Set Permissions" (close)="onClose()"></app-dialog-header>

<p>
    <mat-checkbox [checked]="permissions.setPermissions" (change)="update('setPermissions', $event)">
        Set Permissions
        </mat-checkbox>
</p>
<p>
    <mat-checkbox [checked]="permissions.userManagement" (change)="update('userManagement', $event)">
        User Management
    </mat-checkbox>
</p>
<p>
    <mat-checkbox [checked]="permissions.creator" (change)="update('creator', $event)" >
        Content Creator
      </mat-checkbox>
</p>
<p>
    <mat-checkbox [checked]="permissions.user" (change)="update('user', $event)">
        Active User
      </mat-checkbox>
</p>



  <dialog-confirm-button style="display:contents;">
      <button mat-fab color="primary" (click)="onClose(permissions)">
          <mat-icon>check</mat-icon>
      </button>
  </dialog-confirm-button>