#container {
    width:calc(100% + 48px);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -24px;
    margin-right: -24px;
}
.sticky-row{
    padding: 5px 24px;
    background: rgba(255, 255, 255, 0.90);
    position: sticky;
    top:0;
    z-index: 1;
}
#basket{
    position: relative;
    padding: 5px;
    min-height: 35px;
    max-height: 30vh;
    overflow-y: auto;
}
#basket-text{
    display: block;
    width: 100%;
    font-size: .8em;
}
#list-container{
    padding: 0px 24px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.list{
    flex-grow: 1;
}
.list>a {
    background: transparent;
    margin:0px -24px;
    padding: 0px 24px;
}
.list>a:not(.list-item-used):hover{
    background: #f5f5f5;
}
.list-item-used{
    color: #bababa!important;
    cursor: default;
}
.list-item-used:hover{
    cursor: default; 
}

a.list-item{
    color: inherit;
    text-decoration: none;
    font-size: 1.3em;
}
.list-item > .item-name {
    padding: 0.4em;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    /* border-top:1px solid #f5f5f5;
    border-bottom: 1px solid transparent; */
}
.item-name>span{
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item.border .item-name{
    border-color: transparent;
}
.list-item:not(.list-item-used) .item-name:hover~.list-item-action-icon, 
.list-item:not(.list-item-used) .list-item-action-icon:hover{
    color: #007bff!important;
    text-decoration: none;
}

.list-item > i{
    width: 24px;
    text-align: center;
}

.tag {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    color: #343a40;
    background-color: white;
    font-weight: 400;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    user-select: none;
    margin-bottom:2px;
    box-shadow: 1px 1px 4px -2px black;
}
.tag > * {
    vertical-align: middle;
}
.tag:not(:last-of-type){
    margin-right:2px;
}