<div id="container">
  <div class="sticky-row">
    <search-field
      [value]="searchFilterInput"
      (valueChange)="typeSearch($event)"
      (keyEnter)="addItemFromSearch(listFiltered[0])"
      placeholder="Search Packables">
    </search-field>
    <div
      id="basket"
      #basket>
      <div
        class="ps-selected-container"
        class.hidden="selected.length > 0"
        @quickTransitionTrigger>
        <span
          *ngFor="let item of selected"
          class="tag">
          <span class="tag-text">{{item.name}}</span>
          <i
            class="material-icons pointer ml-1"
            (click)="toggleItem(item)">
            close
          </i>
        </span>
      </div>
      <div
        id="basket-text"
        class="text-center small text-muted"
        *ngIf="selected.length === 0 && availableItems()>0"
        @quickTransitionTrigger>
        {{unusedItems()>0 ? 'Select items to add' : 'You\'ve used all the items'}}
      </div>
    </div>
  </div>
  <div id="list-container">
    <div
      class="list"
      *ngIf="listFiltered && listOriginal">
      <!-- ADD MESSAGES HERE -->
      <ng-container *ngFor="let item of listFiltered; let i = index">

        <a
          class="list-item d-flex justify-content-start align-items-center"
          *ngIf="item.show"
          [ngClass]="{
          'list-item-used': item.used, 
          'list-item-selected': item.selected, 
          'border border-primary rounded': searchFilterInput!='' && i==0 && !item.used}"
          [activeColor]="item.selected ? 'accent' : 'muted'"
          [disabled]="item.used"
          [colorTarget]="buttons"
          (click)="toggleItem(item)">
          <div class="item-name align-self-stretch d-flex flex-column justify-content-center">
            <span>{{item.name}}</span>
          </div>
          <div
            class="button-container"
            #buttons>
            <button
              mat-icon-button
              *ngIf="!item.selected && !item.used">
              <mat-icon>radio_button_unchecked</mat-icon>
            </button>
            <button
              mat-icon-button
              *ngIf="item.selected">
              <mat-icon outlined>check_circle</mat-icon>
            </button>
            <button
              disabled
              mat-icon-button
              *ngIf="item.used">
              <mat-icon outlined>check</mat-icon>
            </button>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>
