<p class="text-center">
    <span *ngIf="action == 'add'">Add Packable to Travelers and Collections:</span>
    <span *ngIf="action == 'update'">Apply Packable changes to Travelers and Collections:</span>
</p>
<ng-container *ngIf="ColProTree.length>0; else noCollections">
    <p class="text-center small">
        <a class="inline-link" (click)="addAll()">All</a> / <a class="inline-link" (click)="removeAll()">None</a>
      </p> 
  <div 
  class="selectable-dropdown popout" 
  [class.selected]="isCollectionChecked(collection)" 
  *ngFor="let collection of ColProTree; let i = index">
  
      <div class="selectable-dropdown-header" (click)="toggleCollection(i, true)">
        <div>{{collection.name}}</div>
        <div *ngIf="collection.branchOpen" class="close-button" InnerLink>
          <button class="mini" mat-icon-button (click)="toggleCollection(i,false)" InnerLink>
            <mat-icon>close</mat-icon>
        </button>
        </div>
      </div>
      <div class="selectable-dropdown-content">
        <div *ngIf="!collection.branchOpen" @quickTransitionTrigger (click)="toggleCollection(i, true)">
          <span class="text-muted font-italic small" *ngFor="let profile of collection.profiles; let i = index">
            {{profile.name}}{{collection.profiles.length - 1 > i ? ', ': ''}}
          </span>
        </div>
        <div *ngIf="collection.branchOpen" @quickTransitionTrigger>
            <profile-selector 
            class="dim"
            [class.undim]="collection.selected.length>0"
            iconWidth="45px" 
            [profiles]="collection.profiles" 
            [selected]="collection.selected" 
            [multiselect]="true"
            [showNames]="true"
            (selectedChange)="updateSelectedProfiles($event,i)">
          </profile-selector>
        </div>
      </div>
    </div>
</ng-container>
<ng-template #noCollections>
    <p class="text-center text-warning">
      There are no Traveler Collections to push this Packable into at the moment. Please try adding a Collection to a Traveler first.
    </p>
</ng-template>

<dialog-confirm-button>
    <button mat-fab color="primary" (click)="onConfirm()">
        <mat-icon>check</mat-icon>
    </button>
</dialog-confirm-button>