.dialog-floating-actions {
    z-index: 19;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.dialog-floating-actions-centralizer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    padding-bottom: 15px;
    bottom: 0;
}
:host-context(.mat-dialog-actions) .fade-to-white, 
:host-context(.form-actions-mobile ) .fade-to-white{
    box-shadow: 0px 0px 40px 40px white;
}
.dialog-floating-actions-button-container {
    z-index: 20;
}

:host.alwaysBottom{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
} 