.dialog-floating-actions {
    margin-top:95px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 19;
    bottom: 0;
}
.dialog-floating-actions-centralizer{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.fade-to-white{
    box-shadow: 0px 0px 70px 60px white;
}
.dialog-floating-actions-button-container {
    padding-bottom: 24px;
    z-index: 20;
}