.hidden-datepicker{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.disabled {
      color: lightgrey!important;
      background: none!important;
      border: none!important;
  }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      color: white;
    }
    .custom-day.selected, .custom-day:hover {
      background-color: rgb(2, 117, 216);
    }
    .custom-day.betweenDates {
      background-color: rgba(2, 117, 216, 0.5);
    }
    .custom-day.betweenDates:hover{
      color:rgb(2, 117, 216);
      position: relative;
    }
    .custom-day.range.betweenDates:hover::after {
      position: absolute;
      border: 1px solid rgb(2, 117, 216);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: " ";
      border-radius: 0.5em;
      
  }
    .custom-day.fromDate {
      border-bottom-left-radius: 0.5em;
      border-top-left-radius: 0.5em;
    }
    .custom-day.toDate {
      border-bottom-right-radius: 0.5em;
      border-top-right-radius: 0.5em;
  }

  .activeInput {
      z-index: 999;
  }
  .custom-date-input {
      border-right: none;
  }
  .custom-date-input:focus {
      box-shadow: none;
  }
  .quick{
    transition: opacity 100ms linear!important;
  }