.flex-device-height{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100vh;
    justify-content: flex-start;
    align-items: stretch;
}

.scrollable{
    overflow-x: hidden;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.step.centered {
    justify-content: center;
}
.content{
    max-width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
}
.flex-device-height .content{
    padding-bottom: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.flex-device-height .step.centered .content{
    margin-top: 60px;
    top: -40px;
}
.w-500{
    max-width: 500px;
    width: 100%;
}