<div [class.flex-device-height]="windowService.max('md')">
  <app-nav [header]="'New Trip'" [rightIcon]="windowService.max('md') ? (step < 4 ? nextIcon : packIcon) : null" (rightClick)="onConfirmStep(step)" [rightDisabled]="!stepValid"></app-nav>
  <div class="scrollable">
    <app-stepper [steps]="steps" [currentStep]="step" (stepClicked)="nextStep($event)"></app-stepper>
    <div class="step centered" *ngIf="step===1">
      <div class="content w-500 text-center">
          <h5>Where to next?</h5>
          <div class="errors" *ngIf="stepTouched[step] && stepErrors.length>0">
            <p class="text-danger" *ngFor="let errorText of stepErrors">{{errorText}}</p>
          </div>
          <trip-details-form [trip]="trip" (tripChange)="setTimeAndPlace($event)">
          </trip-details-form>
      </div>
    </div>
    <div class="step centered" *ngIf="step===2">
        <div class="content w-500 text-center">
            <h5>Who's going?</h5>
            <div class="errors" *ngIf="stepTouched[step] && stepErrors.length>0">
                <p class="text-danger" *ngFor="let errorText of stepErrors">{{errorText}}</p>
              </div>
            <profile-selection-form [selected]="trip.profiles" (selectedChange)="setSelectedProfiles($event)"></profile-selection-form>
        </div>
    </div>
    <div class="step" *ngIf="step===3">
      <div class="content w-500 px-1">
          <h5 class="text-center">What do we need?</h5>
          <div class="errors text-center" *ngIf="stepTouched[step] && stepErrors.length>0">
              <p class="text-danger" *ngFor="let errorText of stepErrors">{{errorText}}</p>
            </div>
          <collection-selection-form
              [selected]="trip.collections"
              [profiles]="trip.profiles"
              [destWeatherData]="destWeatherData$"
              [destMetaData]="destMetaData$"
              (selectedChange)="setCollections($event)">
          </collection-selection-form>
      </div>
    </div>
    <div class="step" *ngIf="step===4">
      <div class="content w-100">
        <h5 class="text-center">Customise Collections</h5>
          <customise-trip-profiles-form [trip]="trip">
          </customise-trip-profiles-form>
      </div>
    </div>
    <div class="step" *ngIf="step===5">
      <div class="content">
          <h5 class="text-center">Done!</h5>
          <p class="text-center">Save Trip and Pack</p>
      </div>
    </div>
    <div class="form-actions form-actions-sticky" [class.form-actions-mobile]="windowService.max('md')">
        <dialog-confirm-button>
          <button mat-fab appColor="action" (click)="onConfirmStep(step)" [disabled]="!stepValid">
            <mat-icon *ngIf="4>step">check</mat-icon>
            <mat-icon svgIcon="send" *ngIf="step===4"></mat-icon>
          </button>
        </dialog-confirm-button>
      </div> 
  </div>   
</div>

