<form [formGroup]="passwordForm" autocomplete="off" (ngSubmit)="submit()">
  <mat-form-field
    class="w-100"
    hintLabel="At least 8 characters, one uppercase, one lowercase, one number">
    <input
      type="password"
      matInput
      placeholder="Password"
      name="password"
      formControlName="password"
      autocomplete="off"
      autofilled="false">
    <mat-error *ngIf="passwordForm.get('password').invalid">
      At least 8 characters, one uppercase, one lowercase, one number
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input
      type="password"
      matInput
      placeholder="Confirm Password"
      name="verifyPassword"
      formControlName="verifyPassword"
      autocomplete="off"
      autofilled="false">
    <mat-error *ngIf="passwordForm.get('verifyPassword').invalid">The password doesn't match</mat-error>
  </mat-form-field>
</form>
