  <div class="profile" 
  [class.showName]="showName && !inline" 
  [class.selected]="isSelected" 
  [class.interactive]="isInteractive" 
  [class.button]="isButton" 
  [class.fullFrame]="fullFrame"
  [class.dim]="dim"
  [class.inline]="inline"
  [title]="inputName" #profile>
    <div class="icon_sizer">
      <div class="profile_circle" [class.inline]="inline">
        <div class="profile_circle_content">
            <div class="profile_background" [style.background]="inputColor"></div>
            <mat-icon [svgIcon]="icon" [inline]="true" style="height: 100%; line-height: 100%;"></mat-icon>    
        </div>
      </div>
    </div>
        <span class="profile_name" *ngIf="showName && !inline">
          {{inputName}}
        </span>
  </div>