.profile {
  display: inline-block;
  text-align: left!important;
  position: relative;
  padding: 0.2em;
}

.profile * {
  transition: opacity 300ms;
}

.profile.showName {
  padding-bottom: 1.3em;
}

.profile.inline {
  padding: 0;
}

.icon_sizer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.icon_container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 2px solid white; */
  /* background: rgb(226, 226, 226); */
  /* transition: all 300ms!important; */
}
#clipper {
  clip-path: circle(50% at center);
  border-radius: 50%;
}
.circle-border {
  fill: none;
  stroke: none;
  stroke-width: 6px;
}
.profile.button .circle-border {
  stroke: #007bff;
}
.profile.selected .circle-border {
  stroke: #e91e63;
}

.profile_name {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0.1em;
  text-align: center;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile.interactive {
  cursor: pointer;
}

.profile.interactive .icon_container * {
  transition: all 300ms ease;
}

.profile.interactive:not(.selected) .icon_container {
  opacity: 0.5;
}

.profile.dim .icon_container, .profile.dim .profile_name {
  opacity: 0.4;
}

@media (hover) {
  .profile.dim:hover * {
    opacity: 1;
  }
  .profile.interactive:hover .icon_container {
    opacity: 1!important;
  }
}

.profile.button .profile_name {
  color: #007bff;
}

.profile.selected .icon_container{
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}

.svgHost {
  transform: translateY(3%);
}
.profile.interactive .svgHost {
  transform: translateY(10%);
}

.profile.interactive.selected .svgHost {
  transform: translateY(3%);
}

@media (hover) {
  .profile.interactive:hover .svgHost {
    transform: translateY(3%);
  }
}

.profile.fullFrame .svgHost{
  transform: scale(0.95)!important;
}