<div class="form-row">
    <!-- <mv-slider [(value)]="value" [min]="absoluteMinTemp" [max]="absoluteMaxTemp" [enabled]="enabled" (change)="change()"></mv-slider> -->
</div>

<div class="form-row py-1">
  <div class="col-12">
    <mat-slide-toggle #minTempToggle [checked]="weatherRule.minTemp != null">
    </mat-slide-toggle>&ensp;
    <span [class.text-disabled]="!minTempToggle.checked">Pack if {{ windowService.max_xs ? "temp'" : 'temperature'}} is over</span>&ensp;
    <mat-form-field class="mini-mat-form-field tempSelector" floatLabel="never">
      <mat-select #minInput
      (selectionChange)="minChange($event)" 
      [disabled]="!minTempToggle.checked" 
      [value]="!minTempToggle.checked ? null : (weatherRule.minTemp || weatherRule.maxTemp || 20)" 
      (click)="minTempToggle.checked=true"
      (blur)="minChange(minInput.value)">
        <mat-option *ngFor="let t of tempOptions" [value]="t">{{ t > absoluteMinTemp ? t+'&#176;C' : 'Any'}}</mat-option>
      </mat-select>
      <mat-label>Any</mat-label>
    </mat-form-field>
  </div>
</div>

<div class="form-row py-1">
  <div class="col-12">
    <mat-slide-toggle #maxTempToggle [checked]="weatherRule.maxTemp != null">
    </mat-slide-toggle>&ensp;
    <span [class.text-disabled]="!maxTempToggle.checked">Pack if {{ windowService.max_xs ? "temp'" : 'temperature'}} is below</span>&ensp;
    <mat-form-field class="mini-mat-form-field tempSelector" floatLabel="never" appearance="legacy">
      <mat-select #maxInput
      (selectionChange)="maxChange($event)" 
      [disabled]="!maxTempToggle.checked" 
      [value]="!maxTempToggle.checked ? null : (weatherRule.maxTemp || weatherRule.minTemp || 20)" 
      (click)="maxTempToggle.checked=true"
      (blur)="maxChange(maxInput.value)">
        <mat-option *ngFor="let t of tempOptions" [value]="t">{{ t < absoluteMaxTemp ? t+'&#176;C' : 'Any'}}</mat-option>
      </mat-select>
      <mat-label>Any</mat-label>
    </mat-form-field>
  </div>
</div>
<div class="form-row pt-2 pb-1">
  <div class="col-12">
    Only pack for trips with:
  </div>
</div>
<div class="form-row py-1">
  <div class="col-4 col-sm-3 col-md-4 col-lg-2" *ngFor="let weather of weatherOptions">
    <mat-checkbox [checked]="isChecked(weather)" (change)="toggleCheckbox(weather)">{{weather | titlecase}}</mat-checkbox>
  </div>
  <div class="col-12">
    <small><a class="inline-link" (click)="select('all')">Select All</a> | <a class="inline-link" (click)="select('none')">Select None</a></small>
  </div>
</div>
