.dialog-header {
    position: relative;
    text-align: center;
    padding: 0 24px;
}

.close-button {
    position: absolute!important;
    right: 0!important;
    top: 0!important;
}

.header {
    display: block;
    width: 100%;
    line-height: 1em;
}

.title>.header-text {
    font-size: 1.6em;
    line-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.step-container{
    height: 100%;
    width:100%;
}
.dialog-flex-container{
    height: 100%;
    display: flex;
    flex-direction:  column;
    align-items: stretch;
}
.dialog-flex-container .dialog-row {
    padding: 0 24px;
    margin: 0 -24px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}
.dialog-flex-container .dialog-row.scrollable{
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}