.full-flex{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
}
.ff-header {
    -webkit-align-items: flex-start; 
    align-items:         flex-start;
    padding:5px 15px;
    display: -webkit-flex;
    display:flex;
    flex-shrink: 0;
}
.ff-header-action {
    -webkit-flex-grow: 0;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    white-space: nowrap;
}
button.ff-header-action{
    background: none;
    border: none;
    transition: color 300ms;
    color:#007bff;
}
button.ff-header-action:hover,
button.ff-header-action:active,
button.ff-header-action:focus
{
    color:#007bff9a;
    cursor: pointer;
    border: none;
    outline: none;
}
button.ff-header-action:disabled,
button.ff-header-action[disabled]{
    color:lightgrey;
    cursor:default;
}
.ff-header-title {
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-shrink:1;
    flex-shrink: 1;
    -webkit-flex-grow: 3;
    flex-grow: 3;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ff-header-action:first-of-type{
    text-align: left;
    padding-left: 0;
}
.ff-header-action:last-of-type{
    text-align: right;
    padding-right: 0;
}
.ff-row {
    padding:5px 15px;
    flex-shrink: 0;
    flex-grow: 0;
}
.ff-row-basket {
    padding:5px 15px;
    flex-grow: 0;
    max-height: 30vh;
    overflow-y: auto;
    flex-shrink: 0;
}
.ff-row-main {
    padding:0px 15px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 0;
}
@media (min-width: 576px) { 
    .full-flex{
        min-height:initial;
    }
    .ff-row-main{
        overflow-y: initial;
        overflow-x: initial; 
        flex-grow: 0; 
    }
}
.list>a {
    background: transparent;
}
.list>a:hover{
    background: #f5f5f5;
}
.list>a.list-item-used{
    background: #007bff03;
}
.list>a.list-item-used:hover{
    background: #007bff07;
}

.list-item-used, .list>a:hover{
    border-radius: 0.4em;
}

a.list-item{
    color: inherit;
    text-decoration: none;
    font-size: 1.3em;
}
.list-item > .item-name {
    padding: 0.4em;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    border-top:1px solid #f5f5f5;
    border-bottom: 1px solid transparent;
}
.item-name>span{
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item.border .item-name{
    border-color: transparent;
}
.item-name:hover~.list-item-action-icon, .list-item-action-icon:hover{
    color: #007bff!important;
    text-decoration: none;
}
.list-item.text-white > .list-item-action-icon{
    color: white!important; 
}

.list-item > i{
    width: 24px;
    text-align: center;
}
