.full-flex{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;
}
.ff-header {
    align-items: center;
    padding:5px 15px;
    display: -webkit-flex;
    display:flex;
    flex-shrink: 0;
}

.ff-header-title {
    flex-basis: 0;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ff-header-action {
    flex-grow: 0;
    white-space: nowrap;
}
.ff-header-action:first-of-type{
    padding-left: 0;
}
.ff-header-action:last-of-type{
    padding-right: 0;
}
.ff-row {
    padding:5px 15px;
    flex-shrink: 0;
    flex-grow: 0;
}
.ff-row-basket {
    padding:5px 15px;
    flex-grow: 0;
    max-height: 30vh;
    overflow-y: auto;
    flex-shrink: 0;
}
.ff-row-main {
    padding:0px 15px;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 0;
}
@media (min-width: 576px) { 
    .full-flex{
        min-height:initial;
    }
    .ff-row-main{
        overflow-y: initial;
        overflow-x: initial; 
        flex-grow: 0; 
    }
}