<div class="ff-header d-sm-none">
  <button type="button" class="ff-header-action" (click)="onLeft()" [disabled]="!nav.left.enabled" *ngIf="nav.left.text">
    <i class="{{nav.left.iconClass}}"></i> {{nav.left.text}}</button>
  <div class="ff-header-title h5 m-0">
    {{nav.header}}
  </div>
  <button type="submit" class="ff-header-action" (click)="onRight()" [disabled]="!nav.right.enabled"  *ngIf="nav.right.text">
    {{nav.right.text}}
    <i class="{{nav.right.iconClass}}"></i>
  </button>
</div>
<div class="ff-row d-none d-sm-block">
  <h3>{{nav.header}}</h3>
</div>