.trip-form-container{
    display: block;
    margin: 0px auto;
    text-align: center;
    max-width: 500px;
}
.trip-card{
    margin: 0.25em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.trip-details{
    flex-grow: 1;
}