
<div #collectionList *ngIf="collections" @blockInitialAnimations>
  <h6 class="text-center">My Collections</h6>
  <div *ngFor="let collection of collections" @dropInTrigger>
    <collection-details-card
      [collection]="collection"
      actionType="selection"
      selectionOnIcon="added"
      selectionOffIcon="unselected"
      [boxClickActive]="true"
      [selectionState]="selectedGroup[collection.id] && selectedGroup[collection.id].length>0"
      [profileGroup]="selectedGroup[collection.id] || []"
      (actionClick)="toggleCollection(collection.id)"
      (boxClick)="setProfiles(collection.id)">
    </collection-details-card>
  </div>
</div>
