
<div #collectionList *ngIf="collections" @blockInitialAnimations>
  <div class="text-center w-100 position-relative" *ngIf="collections.length>0">
    <h6 >My Collections</h6>
    <a class="small inline-link newColLink" (click)="newCollection()">Create New</a>
  </div>
  
  <div *ngFor="let collection of collections" @dropInTrigger>
    <collection-details-card
      [collection]="collection"
      actionType="selection"
      selectionOnIcon="added"
      selectionOffIcon="unselected"
      [boxClickActive]="true"
      [selectionState]="selectedGroup[collection.id] && selectedGroup[collection.id].length>0"
      [profileGroup]="selectedGroup[collection.id] || []"
      (actionClick)="toggleCollection(collection.id)"
      (boxClick)="setProfiles(collection.id)">
    </collection-details-card>
  </div>
</div>
