<div class="step-container">
    <div class="dialog-flex-container">
        <div class="dialog-row">
            <app-dialog-header [super]="collectionName ? collectionName : ''" [header]="stepTitle()" (close)="onClose()" [showReturn]="step>1" (return)="returnStep()" ></app-dialog-header>
          </div>

          <div class="dialog-row" *ngIf="step===1" #inputName @transitionTrigger>

              <name-input
              title="Collection"
              [value]='collectionName'
              [usedNames]='usedCollectionNames'
              (changeEvent)='setName($event)'>
              </name-input>

              <dialog-confirm-button style="display:contents;">
                <button mat-fab color="primary" (click)="confirmName()" [disabled]="!collectionNameValid">
                  Next
                </button>
              </dialog-confirm-button>
            </div>

          <div class="dialog-row nested-flex" *ngIf="step===2" #selectPackables @transitionTrigger>
              <import-packables-selector 
              [collection]="collection"
              (confirm)="confirmPackables($event)">
            </import-packables-selector>
          </div>
            
          <div class="dialog-row" *ngIf="step===3" @transitionTrigger>
              <div class="text-center my-2">
                  <profile-selector iconWidth="50px" [profiles]="profileGroup" [(selected)]="selectedProfiles" [multiselect]="true"
                    [showNames]="true">
                  </profile-selector>

                </div>
                <dialog-confirm-button style="display:contents;">
                    <button mat-fab color="primary" (click)="confirmProfiles()" [disabled]="!collectionNameValid">
                      <mat-icon>check</mat-icon>
                    </button>
                  </dialog-confirm-button>
          </div>

    </div>
</div>