<app-dialog-header
  [super]="collectionName ? collectionName : ''"
  [header]="stepTitle()"
  (close)="onClose()"
  [showReturn]="step>1"
  (return)="returnStep()">
</app-dialog-header>

<mat-dialog-content>
    <div
      *ngIf="step===1"
      #inputName
      @transitionTrigger>
      <name-input
        title="Collection"
        [value]='collectionName'
        [usedNames]='usedCollectionNames'
        [allowImport]="allowImport"
        (importRequest)="importRequest($event)"
        (changeEvent)='setName($event)'>
      </name-input>
    </div>

    <div
      *ngIf="step===2"
      #selectPackables
      @transitionTrigger>
      <import-packables-selector
        [collection]="collection"
        (updateSelected)="updatePackables($event)">
      </import-packables-selector>
    </div>

    <div
      *ngIf="step===3"
      @transitionTrigger>
      <div class="text-center my-2">
        <profile-selector
          iconWidth="50px"
          [profiles]="profileGroup"
          [(selected)]="selectedProfiles"
          [multiselect]="true"
          [showNames]="true">
        </profile-selector>
      </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <dialog-confirm-button>
    <button
      mat-fab
      activeColor="action"
      (click)="onConfirm()"
      [disabled]="!valid()">
      <mat-icon>check</mat-icon>
    </button>
  </dialog-confirm-button>
</mat-dialog-actions>
