.cardButton{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 75px;
    margin: 5px 0px;
}
.flex-item{
    padding: 5px;
}
.flex-item.content{
    color: black;
    padding-left: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}
.disabled .content{
    opacity: 0.6;
}
.flex-item.actionIcon{
    padding-right: 12px;
    flex-grow: 0;
    transition:all 300ms;
}
.cardButton:not(.disabled):hover .actionIcon{
    transform:translateX(5px);
}
