<div class="d-inline-block" *ngFor="let profile of profiles" @horizontalShringAndFade>
  <profile-icon 
    *ngIf="profile"
    [profileId]='profile.id' 
    [showName]="showNames"  
    [isInteractive]="true" 
    [isSelected]="isSelected(profile.id)" 
    [width]="iconWidth"
    [fullFrame]="fullFrame"
    [color]="color"
    [dim]="!isSelected(profile.id) && selected.length>0"
    (onClick)="toggle(profile.id)">
  </profile-icon>
</div>
<div class="d-inline-block align-top">
  <ng-content></ng-content>
</div>
<p *ngIf="multiselect && profiles.length > 1 && showQuickButtons">
    <a class="inline-link small p-2" (click)="profileSelect('all')">All</a>
    <span>/</span>
    <a class="inline-link small p-2" (click)="profileSelect('none')">None</a>
  </p>