:host-context(.small-device){
  display: block;
  position: sticky;
  top: 0;
  z-index: 18;
}

.nav-container {
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.0);
  z-index: -1;
  overflow: auto;
  transition: 0.3s;
}

.nav-container.active {
  pointer-events: all;
  visibility: visible;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 1s;
}

.top-nav {
  background: #fbfbfb;
  border-bottom: 1px solid #efefef;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.13);
}

.slider-nav {
  position: absolute;
  overflow: hidden;
  direction: rtl;
  transform: translateX(-103%);
  left: 0;
  top: 0;
  padding-top: 40px;
  min-height: 100%;
  width: 250px;
  transition: 0.3s;
  box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.35);
}
.slider-nav.active {
  transition: 0.4s;
  transform: translateX(0);
}

.nav-list-container{
  display: inline-block;
  width: 250px;
  opacity: 0;
  transition: all 0.2s;
  transition-delay: 0ms;
}
.active .nav-list-container{
  direction: ltr;
  width: 250px;
  opacity: 1;
  transition: all 0.4s;
  transition-delay: 0.2s;
}

.closeButton{
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
}