.nav-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: -1;
    transition: 0.3s;
}
.nav-container.active{
    visibility: visible;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: 1s;
}