@media screen {
  :host {
    display: none;
  }
}
:host{
  font-size: 1.4em;
}
.page-break{
  break-before: always;
  page-break-before: always;
}
.packable-line{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.packable-line > *:not(:first-child){
  margin-left: 5px;
}