<div class="pofileSelectorContainer" 
  #container>
  <div class="selectedProfile d-flex flex-row align-items-center" [class.hide]="selectorOpen" *ngIf="selected">
    <profile-icon 
      [profileId]='selected' 
      [showName]="false"  
      [isInteractive]="true" 
      [isButton]="true" 
      inputWidth="55px"
      (click)="toggleProfileSelector()">
    </profile-icon>
    <p class="h3 m-0 ml-1" *ngIf="!selectorOpen" @showTrigger>
      {{getSelectedProfileName()}}
    </p>
    <button mat-icon-button (click)="onClickSettings()" color="primary" class="mt-1" *ngIf="!selectorOpen" @showTrigger>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div class="horizontalSelector" [class.hide]="!selectorOpen">
      <horizontal-icon-selector stepWidth="55" #iconSelector>
          <profile-selector 
          iconWidth="55PX" 
          [profiles]="profiles" 
          [selected]="selected ? [selected] : []" 
          [multiselect]="false"
          [showNames]="true" 
          [selectedFirst]="true"
          (selectedChange)="onSelectedProfiles($event)">
        </profile-selector>
    </horizontal-icon-selector> 
  </div>
</div>