<div class="pofileSelectorContainer"
  #container>
  <div class="selectedProfile d-flex flex-row align-items-center"  [class.hide]="selectorOpen" *ngIf="selected">
    <div class="selectorTrigger pointer" appColor="action" [appColorTarget]="settingsButton"  (click)="onClickSettings()">
        <div class="selectedProfile-iconContainer">
            <profile-icon 
            [profileId]='selected' 
            [showName]="false"  
            [isInteractive]="false" 
            [isButton]="false" 
            width="55px">
          </profile-icon>
        </div>
        <p class="h3 m-0 ml-1 mb-1" *ngIf="!selectorOpen" @showTrigger>
          {{getSelectedProfileName()}}
        </p>
        <div #settingsButton>
          <button mat-icon-button  *ngIf="!selectorOpen" @showTrigger >
              <mat-icon>settings</mat-icon>
            </button>
        </div>
        
      </div>
       
      <button mat-icon-button appColor="action" (click)="toggleProfileSelector()"  class="ml-auto" *ngIf="!selectorOpen">
          <mat-icon>group</mat-icon>
        </button>
  </div>
  <div class="horizontalSelector" [class.hide]="!selectorOpen">
      <horizontal-icon-selector stepWidth="55" #iconSelector>
          <profile-selector 
         
          iconWidth="55PX" 
          [profiles]="profiles" 
          [selected]="selected ? [selected] : []" 
          [multiselect]="false"
          [showNames]="true" 
          [selectedFirst]="true"
          (selectedChange)="onSelectedProfiles($event)">
        </profile-selector>
        <div class="d-inline-block">
            <icon-text-button
              svgIcon="add"
              (onClick)="newProfile()"
              buttonWidth="55px"
              innerPadding="0.1em">
            </icon-text-button>
        </div>
    </horizontal-icon-selector> 
  </div>
</div>