<div
  @blockInitialAnimations
  *ngIf="packableList">
  <div class="mat-card-list_containter">
    <mat-card
      class="options"
      [class.cardless]="!editList"
      [class.editing]="editList"
      [class.in-expansion-panel]="editingCollectionId">
      <div
        class="checkbox-container"
        @expandAndFadeTrigger
        *ngIf="editList">
        <mat-checkbox
          [indeterminate]="masterCheckboxIsIntermediate()"
          [checked]="masterCheckboxIsChecked()"
          (change)="masterCheckboxToggle()">
        </mat-checkbox>
      </div>

      <div
        class="option"
        *ngIf="!editList && packableList.length>0"
        @expandAndFadeTrigger>
        <icon-text-button
          text="Select"
          svgIcon="list"
          (onClick)="toggleEditList()"
          showTextFromSize="xs"></icon-text-button>
      </div>

      <ng-container *ngIf="masterCheckboxIsChecked(); else regOptions">

        <div
          class="option"
          *ngIf="!editingCollectionId"
          @expandAndFadeTrigger>
          <icon-text-button
            [text]="editingCollectionId ? 'Copy' : 'Push'"
            [svgIcon]="editingCollectionId ? 't-shirt-copy' : 't-shirt-push'"
            (onClick)="pushSelectedPackables()"
            showTextFromSize="xs"></icon-text-button>
        </div>

        <div
          class="option"
          @expandAndFadeTrigger>
          <icon-text-button
            [text]="(editingCollectionId ? 'Remove' : 'Delete') + ' (' + selected.length + ')'"
            color="danger"
            matIcon="delete_outline"
            (onClick)="deleteSelectedPackables()">
          </icon-text-button>
        </div>
      </ng-container>
      <ng-template #regOptions>
        <div
          class="option"
          *ngIf="editingCollectionId || !storeSelector.isLibraryStore"
          @expandAndFadeTrigger>
          <icon-text-button
            text="Import"
            svgIcon="t-shirt-import"
            (onClick)="importPackables()"
            showTextFromSize="xs"></icon-text-button>
        </div>

        <div class="option">
          <icon-text-button
            text="Create"
            svgIcon="t-shirt-add"
            (onClick)="newPackable()"
            showTextFromSize="xs">
          </icon-text-button>
        </div>
      </ng-template>

      <div
        class="option ml-auto option-close"
        *ngIf="editList"
        title="Done">
        <icon-text-button
          text="Done"
          matIcon="done"
          (onClick)="toggleEditList()"
          [reverse]="true"
          showTextFromSize="xs"></icon-text-button>
      </div>
    </mat-card>
    <ng-container *ngIf="packableList.length>0; else noneToDisplay">
      <div
        @addRemoveElementTrigger
        *ngFor="let packable of packableList; let i = index"
        [class.bottom-seperator]="!useCard && packableList.length-1 > i">
        <packable-card
          [packable]="packable"
          [useCard]="useCard"
          [editList]="editList"
          [selected]="isSelected(packable.id)"
          (packableChange)="packableChange(PackableComplete)"
          (remove)="removePackable(packable.id)"
          (clickPackable)="editPackable(packable.id)"
          (checkboxChange)="toggleSelection(packable.id, $event)">
        </packable-card>
      </div>
    </ng-container>
    <ng-template #noneToDisplay>
      <p class="small text-muted">There are no Packables to display</p>
    </ng-template>
  </div>
</div>
