<div  @blockInitialAnimations *ngIf="packableList">
  <div class="mat-card-list_containter">
    <mat-card class="options" [class.cardless]="!editList" [class.editing]="editList" [class.in-expansion-panel]="editingCollectionId">
      <div class="checkbox-container" @expandAndFadeTrigger *ngIf="editList">
        <mat-checkbox [indeterminate]="masterCheckboxIsIntermediate()" [checked]="masterCheckboxIsChecked()" (change)="masterCheckboxToggle()">
        </mat-checkbox>
      </div>
      <a class="inline-link withIcon pl-0 option" title="Edit List" (click)="toggleEditList()" *ngIf="!editList && packableList.length>0" @expandAndFadeTrigger>
        <mat-icon>ballot</mat-icon>
        <span class="pl-1">Select </span>
      </a>
      <ng-container *ngIf="masterCheckboxIsChecked(); else regOptions">
        <a class="inline-link withIcon option" title="Copy Packables" *ngIf="!editingCollectionId" (click)="pushSelectedPackables()">
          <div class="icon-container icon-sizer">
            <mat-icon svgIcon="t-shirt2-distribute"></mat-icon>
          </div>
          <span class="pl-1" *ngIf="windowService.min('xs')">Push</span>
        </a>
        <a class="inline-link withIcon option" title="Copy Packables" *ngIf="editingCollectionId" (click)="pushSelectedPackables()">
          <div class="icon-container icon-sizer">
            <mat-icon svgIcon="t-shirt2-copy"></mat-icon>
          </div>
          <span class="pl-1" *ngIf="windowService.min('xs')">Copy</span>
        </a>
        <a class="inline-link withIcon text-danger option" title="Remove Packables" (click)="deleteSelectedPackables()">
          <mat-icon>delete_forever</mat-icon>
          <span>{{editingCollectionId ? 'Remove' : 'Delete'}} ({{selected.length}})</span>
        </a>
      </ng-container>
      <ng-template #regOptions>
        <a class="inline-link withIcon option" title="Import Packables" (click)="importPackables()">
          <div class="icon-container icon-sizer">
            <mat-icon svgIcon="t-shirt2-import"></mat-icon>
          </div>
          <span *ngIf="windowService.min('xs')" class="pl-1">Import</span>
        </a>
        <a class="inline-link withIcon option" title="Create New Packable" (click)="newPackable()">
          <div class="icon-container icon-sizer">
            <mat-icon svgIcon="t-shirt2-add"></mat-icon>
          </div>
          <span *ngIf="windowService.min('xs')" class="pl-1">Create</span>
        </a>
      </ng-template>
      <a class="inline-link withIcon ml-auto option option-close" title="Import Packables" (click)="toggleEditList()" *ngIf="editList">
        <span *ngIf="windowService.min('xs')" class="pr-1">Done</span>
        <mat-icon class="m-0">close</mat-icon>
      </a>
    </mat-card>
    <ng-container *ngIf="packableList.length>0; else noneToDisplay">
      <div @addRemoveElementTrigger *ngFor="let packable of packableList; let i = index"
      [class.bottom-seperator]="!useCard && packableList.length-1 > i">
        <packable-card
        [packable]="packable"
        [useCard]="useCard"
        [editList]="editList"
        [recentlyChanged]="isRecentlyChanged(packable.id)"
        [selected]="isSelected(packable.id)"
        (packableChange)="packableChange(PackableComplete)"
        (remove)="removePackable(packable.id)"
        (clickPackable)="editPackable(packable.id)"
        (checkboxChange)="toggleSelection(packable.id, $event)">
        </packable-card>
      </div>
    </ng-container>
    <ng-template #noneToDisplay>
        <p class="small text-muted">There are no Packables to display</p>
      </ng-template>
  </div>
</div>
