.mat-card-list-item.with-selection{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mat-card-list-item.selectable{
    cursor: pointer;
    transition: all 300ms;
}
.mat-card-list-item.selectable.selected{
    background: hsl(340, 100%, 96%)!important;
}
.bottom-seperator{
    border-bottom: 1px solid #f2f2f2;
}

.checkbox-container{
    flex: 0 0 0;
    padding: 0.4em;
    margin-left: -0.4em;
}

.cardless .rule-icons {
    flex-wrap: nowrap;
}

mat-card.cardless {
    padding: 0.2em 0em;
    margin: 0;
    box-shadow: none;
}
mat-card.cardless:hover:not(.selectable) {
    box-shadow: none;
    transform: none;
    color: #0069d9;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options .option-close {
    margin-right:-0.4em;
}
.checkbox-container + .packable {
    padding-left: 0.4em;
}

.options > .option {
    display: inline-block;
    font-size: 1em;
}

.options.editing{
    position: sticky;
    top:0;
    z-index: 10;
    padding: 0px 15px;
    margin: 0.2em -15px;
}
.options.editing:not(.in-expansion-panel) > .checkbox-container {
    margin-left: 0em;
}
.options.editing.in-expansion-panel{
    padding: 0px 24px;
    margin: 0.2em -24px;
}

.icon-container, mat-icon{
    height: 1em;
    width: 1em;
    line-height: 1em;
}
