<app-dialog-header
  [header]="stepHeading()"
  (close)="onClose()"
  [showReturn]="step>1"
  (return)="backStep()"></app-dialog-header>

<ng-container *ngIf="step === 1">
  <mat-dialog-content>
    <div @transitionTrigger>
      <profile-edit-form
        [(profile)]="profile"
        (validChange)="profileEditFormValidation($event)"
        #profileForm>
      </profile-edit-form>
      <div class="mt-3">
        <card-button
          [disabled]="!profileFormValid"
          (click)="profileFormValid && onChooseMethod('new')">
          Create From Scratch
          <p class="small text-muted">Select and import the collections</p>
        </card-button>
        <card-button
          [disabled]="storeSelector.isLibraryStore || !profileFormValid"
          (click)="profileFormValid && onChooseMethod('template')">
          Create from Template
          <p class="small text-muted">
            Templates come with pre-selected collections.
          </p>
        </card-button>
        <card-button
          [disabled]="!profileFormValid"
          (click)="profileFormValid && onChooseMethod('copy')">
          Copy Existing Traveler
          <p class="small text-muted">
            Use all the collections and settings of another Traverler you have already created.
          </p>
        </card-button>
      </div>
    </div>
  </mat-dialog-content>
</ng-container>
<ng-container
  *ngIf="step === 2"
  [ngSwitch]="method">
  <ng-container *ngSwitchCase="'new'">
    <mat-dialog-content>
      <div @transitionTrigger>
        <div style="position: sticky;top:0;z-index:1; background: white;">
          <div class="text-center">
            <profile-icon
              [profile]="profile"
              [showName]="true"
              width="65px">
            </profile-icon>
          </div>
          <p class="form-heading">Select the type of Collections you may want to pack. You can always add more later.</p>
          <search-field
            [(value)]="searchString"
            placeholder="Search Collections">
          </search-field>
        </div>
        <div>
          <collection-selector
            [collections]="collections"
            [(selected)]="selectedCollections"
            [filterInput]="searchString">
          </collection-selector>
          
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <dialog-confirm-button>
            <button
              mat-fab
              class="mx-1"
              activeColor="action"
              (click)="onChooseOriginalCollections()"
              [disabled]="selectedCollections.length===0">
              <mat-icon>check</mat-icon>
            </button>
          </dialog-confirm-button>
    </mat-dialog-actions>
  </ng-container>


  <ng-container *ngSwitchCase="'copy'">
    <mat-dialog-content>
      <div @transitionTrigger>
        <div style="position: sticky;top:0;z-index:1; background: white;">
          <div class="text-center">
            <profile-icon
              [profile]="profile"
              [showName]="true"
              width="65px">
            </profile-icon>
          </div>
          <p class="form-heading">Select a Traveler to copy:</p>
        </div>
        <div>
          <ng-container *ngFor="let profile of allProfiles">
            <card-button (click)="onChooseProfile(profile)">
              <div class="profile-card-flex">
                <div class="profile-card-icon">
                  <profile-icon
                    [profile]="profile"
                    [showName]="false"
                    width="50px">
                  </profile-icon>
                </div>
                <div class="profile-card-details">
                  <h5 class="p-0 m-0">{{profile.name}}</h5>
                  <div class="profile-card-details-collection-list">
                    <list-concatinator
                      [list]="getCollectionListById(profile.id)"
                      lines="2"></list-concatinator>
                  </div>
                </div>
              </div>
            </card-button>
          </ng-container>
        </div>
      </div>
    </mat-dialog-content>
  </ng-container>


  <ng-container *ngSwitchCase="'template'">
    <mat-dialog-content>
      <div @transitionTrigger>
        <div style="position: sticky;top:0;z-index:1; background: white;">
          <div class="text-center">
            <profile-icon
              [profile]="profile"
              [showName]="true"
              width="65px">
            </profile-icon>
          </div>
          <p class="form-heading">Select a Traveler Template:</p>
        </div>
        <div class="dialog-row scrollable">
          <ng-container *ngFor="let profile of templateProfiles">
            <card-button (click)="onChooseProfile(profile)">
              <div class="profile-card-flex">
                <div class="profile-card-icon">
                  <profile-icon
                    [profile]="profile"
                    [fullFrame]="true"
                    color="white"
                    [showName]="false"
                    width="50px">
                  </profile-icon>
                </div>
                <div class="profile-card-details">
                  <h5 class="p-0 m-0">{{profile.name}}</h5>
                  <div class="profile-card-details-collection-list">
                    <list-concatinator
                      [list]="getCollectionListById(profile.id)"
                      lines="2"></list-concatinator>
                  </div>
                </div>
              </div>
            </card-button>
          </ng-container>
        </div>
      </div>
    </mat-dialog-content>
  </ng-container>


</ng-container>
<ng-container *ngIf="step === 3">
  <mat-dialog-content>
    <div @transitionTrigger>
      <div style="position: sticky;top:0;z-index:1; background: white;">
        <div class="text-center">
          <profile-icon
            [profile]="profile"
            [showName]="true"
            width="65px">
          </profile-icon>
        </div>
        <p class="form-heading">
          Select the Essential Collections which would be added to every trip:
        </p>
      </div>
      <div>
        <collection-selector
          [collections]="profile.collections"
          [starIcons]="true"
          [(selected)]="selectedEssentialCollections">
        </collection-selector>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <dialog-confirm-button>
      <button
        mat-fab
        activeColor="action"
        (click)="onComplete()">
        <mat-icon>check</mat-icon>
      </button>
    </dialog-confirm-button>
  </mat-dialog-actions>
</ng-container>
