<app-dialog-header
  [header]="step>1? '' : 'New Traveler' "
  (close)="onClose()"
  [showReturn]="step>1"
  (return)="backStep()"></app-dialog-header>
<ng-container *ngIf="step === 1">
  <mat-dialog-content>
    <div @transitionTrigger>
      <profile-edit-form
        [(profile)]="profile"
        (validChange)="profileEditFormValidation($event)"
        #profileForm>
      </profile-edit-form>
      <div
        class="my-3 text-center"
        *ngIf="!profileFormValid && storeSelector.isLibraryStore && allProfiles && allProfiles.length > 0">
        <a
          class="inline-link withIcon"
          (click)="onChooseMethod('copy')">
          <mat-icon outlined>fasce</mat-icon>
          <span>Copy Existing Traveler</span>
        </a>
        <p>or create blank Traveler...</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <dialog-confirm-button>
      <button
        mat-fab
        class="mx-1"
        activeColor="action"
        (click)="onNextStep()"
        [disabled]="!profileFormValid">
        <mat-icon>check</mat-icon>
      </button>
    </dialog-confirm-button>
  </mat-dialog-actions>
</ng-container>



<ng-container
  *ngIf="step === 2"
  [ngSwitch]="method">
  <ng-container *ngSwitchCase="'copy'">
    <mat-dialog-content>
      <div @transitionTrigger>
        <div class="sticky">
          <div class="text-center">
            <profile-icon
              [profile]="profile"
              [showName]="true"
              width="65px">
            </profile-icon>
          </div>
        </div>
        <p class="text-center">Select a Traveler to copy:</p>
        <div>
          <div class="profile-card-container">
            <ng-container *ngFor="let profile of allProfiles">
              <div
                class="profile-card-flex"
                [class.selected]="selectedProfile === profile.id"
                (click)="selectedProfile = profile.id">
                <div class="profile-card-icon">
                  <profile-icon
                    [profile]="profile"
                    [showName]="true"
                    width="80px">
                  </profile-icon>
                </div>
              </div>
            </ng-container>
          </div>
          <div
            class="my-3 text-center"
            *ngIf="storeSelector.isLibraryStore === false">
            <p>or...</p>
            <a
              (click)="onChooseMethod('template')"
              class="inline-link
              withIcon">
              <mat-icon outlined>assignment_ind</mat-icon>
              <span>Use Templates</span>
            </a>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <dialog-confirm-button>
        <button
          mat-fab
          class="mx-1"
          activeColor="action"
          (click)="chooseCopy()"
          [disabled]="!selectedProfile">
          <mat-icon>check</mat-icon>
        </button>
      </dialog-confirm-button>
    </mat-dialog-actions>
  </ng-container>





  <ng-container *ngSwitchCase="'template'">
    <mat-dialog-content class="d-block position-relative">
      <div @transitionTrigger>
        <div class="sticky">
          <div class="text-center">
            <profile-icon
              [profile]="profile"
              [showName]="true"
              width="65px">
            </profile-icon>
          </div>
        </div>
        <p class="text-center">Select a Traveler Template:</p>
        <div class="dialog-row scrollable">
          <div class="profile-card-container">
            <ng-container *ngFor="let profile of templateProfiles">
              <div
                class="profile-card-flex"
                [class.selected]="selectedProfile === profile.id"
                (click)="selectedProfile = profile.id">
                <div class="profile-card-icon">
                  <profile-icon
                    [profile]="profile"
                    [fullFrame]="true"
                    color="white"
                    [showName]="false"
                    width="80px">
                  </profile-icon>
                </div>
                <div class="profile-card-name">{{profile.name}}</div>
              </div>
            </ng-container>
          </div>
          <div
            class="my-3 text-center"
            *ngIf="allProfiles && allProfiles.length > 0">
            <p>or...</p>
            <a
              (click)="onChooseMethod('copy')"
              class="inline-link withIcon">
              <mat-icon outlined>face</mat-icon>
              <span>Copy Existing Traveler</span>
            </a>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <dialog-confirm-button>
        <button
          mat-fab
          class="mx-1"
          activeColor="action"
          (click)="chooseTemplate()"
          [disabled]="!selectedProfile">
          <mat-icon>check</mat-icon>
        </button>
      </dialog-confirm-button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>
