<!-- <app-icon-checkbox icon="star_border" iconOn="star" [svg]="false" [(checked)]="collection.essential">Essential Collection</app-icon-checkbox> -->
<ng-container *ngIf="profileId">
    <slide-toggle-with-text 
    [checked]="collection.essential"
    (change)="toggleEssential($event)" 
    text="Essential Collection"  
    (textClick)="toggleEssential($event)">
  </slide-toggle-with-text>
  <p class="small text-muted" *ngIf="collection.essential">This Collection will be automatically added to this Traveler on every trip.</p>
</ng-container> 
<app-weather-conditions-form [(weather)]="collection.weatherRules" (weatherChange)="emitUpdate()" *ngIf="profileId"></app-weather-conditions-form>
<span class="form-heading" *ngIf="collection.userCreated">
  <button mat-raised-button color="none" (click)="renameCollection()">Rename Collection</button>
  </span>
<span class="form-heading">
  <button mat-raised-button color="none" (click)="applyCollection()">Apply Settings to Travelers</button>
</span>
<span class="form-heading">
  <button mat-raised-button color="none" (click)="addCollection()">Add Collection to Travelers</button>
</span>
<span class="form-heading">
  <button mat-raised-button color="none" (click)="removeCollection()" class="text-danger text-danger-hover">Remove Collection</button>
</span>

