<div
  *ngIf="!loaded"
  @transitionTrigger
  (@transitionTrigger.start)="windowService.unsetOpenDialogs()"
  (@transitionTrigger.done)="windowService.updateOpenDialogs()">
  <p class="text-muted text-center small pt-2">
    <a class="inline-link" (click)="initList()" *ngIf="finishedLoading">Load</a>{{!finishedLoading ? 'Loading' : ''}} Packable Library
    <br>
    <mat-spinner diameter="30" style="display: inline-block"></mat-spinner>
  </p>
</div>
<app-item-selector
  *ngIf="loaded && completeList"
  [completeList]="completeList"
  [usedList]="usedList"
  (onSelect)="updateSelected($event)"
  @transitionTrigger>
</app-item-selector>

