<a 
  class="inline-link withIcon" 
  [title]="text" 
  (click)="onClick()" 
  [class.disabled]="disabled"
  (mouseover)="hoverState = true"
  (mouseout)="hoverState = false"
  [ngStyle]="!disabled && hoverState ? 
    {'color': color.hover} :
    {'color': color.inactive}"
  [style.flexDirection]="reverse ? 'row-reverse' : 'row'"
  #rippleTrigger>
    <div class="icon-container" 
    [class.full-padding]="!showText()" 
    [class.big-button]="setSize()"
    matRipple
    matRippleCentered="true"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="true"
    [matRippleColor]="color.ripple"
    [matRippleTrigger]="rippleTrigger"
    [matRippleAnimation]="configRipple">
      <mat-icon [svgIcon]="svgIcon" *ngIf="svgIcon && !matIcon"></mat-icon>
      <mat-icon *ngIf="!svgIcon && matIcon" outlined>{{matIcon}}</mat-icon>
    </div>
    <span *ngIf="showText()" class="text">{{text}}</span>
</a>