:host {
    display: contents;
    font-size: 24px
}

a{
    position: relative;
    padding: 0.1em;
    overflow: visible;
    transition: color 300ms;
}
.text{
    font-size: 0.8em;
    padding: .5em 0em;
    transition: color 300ms;
}
.icon-container {
    position: relative;
    font-size: 1em;
    line-height: 1em;
    padding: .5em 0.2em;
    height: 2em;
    width: 1.4em;
}
.icon-container.full-padding{
    padding: .35em;
    height: 1.7em; /*  = 1 + (y-padding x 2) */
    width: 1.7em;  /*  = 1 + (x-padding x 2) */
}
.icon-container.full-padding.big-button{
    font-size: 0.8em;
    padding: 0em;
    width: 1em;
    height: 1em;
}
.icon-container>mat-icon {
    width: 1em;
    height: 1em;
    font-size: inherit;
    transition: color 300ms;
}
.disabled{
    pointer-events: none!important;
    cursor: default!important;
}