<app-dialog-header
  header="Forgot Password"
  (close)="onClose()">
</app-dialog-header>
<mat-dialog-content>
  <p class="text-muted pb-3">Please confirm the email address of your account. You will then receive an email to reset your password.</p>
  <mat-form-field class="w-100">
    <input
      type="email"
      matInput
      placeholder="Email"
      name="email"
      [formControl]="emailInput">
    <mat-error *ngIf="emailInput.invalid">Not a valid email</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <dialog-confirm-button>
      <button
        mat-fab
        class="mx-1"
        activeColor="action"
        (click)="onConfirm()"
        [disabled]="emailInput.invalid">
        <mat-icon>check</mat-icon>
      </button>
    </dialog-confirm-button>
  </mat-dialog-actions>