<li *ngIf="packable && (pass() || listSettings.showInvalid)">
  <div class="list-packable-flex">
    <ng-container *ngIf="!editMode">
      <div class="action-box">
          <mat-checkbox 
            [checked]="packable.checked" 
            (change)="toggleCheck()" 
            [class.changedAfterChecked]="packable.changedAfterChecked" 
            *ngIf="pass()">
          </mat-checkbox>
          <button mat-icon-button 
          *ngIf="!pass()"
          (click)="addInvalid()"
          [style.color]="appColors.muted.inactive">
            <mat-icon>playlist_add</mat-icon>
          </button>
      </div>
      <div class="text-box">
        <span class="packableText" 
          [class.pointer]="pass()"
          [class.completed]="packable.checked" 
          [class.text-success]="packable.recentlyAdded && pass()" 
          [style.color]="pass() ? 'black' : appColors.muted.inactive"
          (click)="pass() && toggleCheck()">
          <span [class.text-primary]="packable.forceQuantity && !packable.checked">
            {{packable.quantity}} 
          </span>
          <span style="vertical-align:bottom; font-size:0.8em">
            x
          </span>
          <span style="text-transform: capitalize">
            {{packable.name}}
          </span>
        </span>
      </div>
      <div class="alert-box">
          <span class="ml-2">
            <ng-container *ngIf="listSettings.showWarnings ">
              <button mat-icon-button [ngbPopover]="weatherNotChecked" placement="left" triggers="click:mouseleave" appColor="danger"
                *ngIf="packable.weatherNotChecked || (!packable.passChecks && packable.weatherReasons.length>0)">
                <mat-icon svgIcon="weather_error" class="text-orange"></mat-icon>
              </button>
              <ng-template #weatherNotChecked>
                  <p class="p-0 m-0 small" *ngFor="let reason of packable.weatherReasons" [class.strikeThrough]="!reason.active" [innerHtml]="reason.text"></p>
              </ng-template>
        
              <button mat-icon-button [ngbPopover]="changedAfterChecked" placement="left" triggers="click:mouseleave" appColor="danger"
               *ngIf="packable.changedAfterChecked">
                <i class="material-icons-outlined">cached</i>
              </button>
              <ng-template #changedAfterChecked>
                <p class="p-0 m-0 small text-orange">
                  The quantity of this Packable changed after it has been ticked. Please check if you packed the updated quantity.
                </p>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="listSettings.showCalculations ">
              <button mat-icon-button [ngbPopover]="quantityReasons" placement="left" triggers="click:mouseleave" appColor="muted"
                class="pointer">
                <i class="material-icons-outlined">live_help</i>
              </button>
              <ng-template #quantityReasons>
                <p class="p-0 m-0 small" *ngIf="packable.forceQuantity">Manually set quantity</p>
                <p class="p-0 m-0 small" *ngFor="let reason of packable.quantityReasons" [class.strikeThrough]="!reason.active || packable.forceQuantity" [innerHtml]="reason.text"></p>
              </ng-template>
            </ng-container>
          </span>
      </div>
    </ng-container>
    <ng-container *ngIf="editMode">
      <div class="edit-box">
          <number-spinner [(number)]="spinnerQuantity" min="0" max="99">
          </number-spinner>
      </div>
      <div class="text-box">
          <span class="packableText mr-2">
              {{packable.name}}
          </span>
          <a class="inline-link mr-2 small" (click)="editRules()">
              Edit Rules
          </a>
        </div>
    </ng-container>
    <div class="button-box">

      <button mat-icon-button (click)="toggleEditMode()" *ngIf="!editMode" appColor="muted">
        <mat-icon svgIcon="plus-minus"></mat-icon>
      </button>
      <ng-container *ngIf="editMode">
        <button mat-icon-button (click)="onSetQuantity(spinnerQuantity)" [appColor]="spinnerQuantity > 0 ? 'accent' : 'danger'">
          <mat-icon>{{spinnerQuantity > 0 ? 'check' : 'remove_circle_outline'}}</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>
</li>