
<div class="pb-1">
  <mat-card class="quantity-rule">
    <div class="quantity-rule-input-containter">
      <span >
        <button mat-icon-button [matMenuTriggerFor]="typeMenu" appColor="action">
            <mat-icon *ngIf="type.value == 'period'">date_range</mat-icon>
            <mat-icon *ngIf="type.value == 'profile'">person</mat-icon>
            <mat-icon *ngIf="type.value == 'trip'" svgIcon="together"></mat-icon>
        </button>
        <mat-menu #typeMenu="matMenu" [hasBackdrop]="true">
            <button mat-menu-item (click)="changeType('period')">
                <mat-icon>date_range</mat-icon>
                <span>Per Day/s</span>
            </button>
            <button mat-menu-item (click)="changeType('profile')">
                <mat-icon>person</mat-icon>
                  <span>Per Traveler</span>
            </button>
            <button mat-menu-item  (click)="changeType('trip')">
                <mat-icon svgIcon="together"></mat-icon> 
                <span>To Share</span>
            </button>
        </mat-menu>
          
        
        <span class="d-inline-block align-text-top">
          <mat-form-field class="quantity-rule-amount mini-mat-form-field " floatLabel="never">
            <input matInput type="tel" [formControl]="amount" class="text-center" (change)="emitUpdate()" (click)="$event.target.select()" autocomplete="off">
          </mat-form-field>
          <span *ngIf="type.value == 'profile'"> per Traveler</span>
          <span *ngIf="type.value == 'trip'"> to share</span>
          <span *ngIf="type.value == 'period'">
            <span  class="text-muted"> per </span>
            <mat-form-field class="quantity-rule-repAmount mini-mat-form-field" floatLabel="never">
              <input matInput type="tel" [formControl]="repAmount"  class="text-center" (change)="emitUpdate()" (click)="$event.target.select()" autocomplete="off">
            </mat-form-field>
            <span  class="text-muted"> day{{repAmount.value > 1 ? 's' : ''}} </span>
          </span>
        </span>
      </span>
      <mat-icon class="ml-auto pointer text-orange" *ngIf="canDelete" (click)="delete()">remove</mat-icon>
    </div>
  </mat-card>
</div>