<app-dialog-header
  [super]="collectionName"
  header="Push Packables"
  (close)="onClose()"></app-dialog-header>
<mat-dialog-content>
  <p
    class="text-center"
    [innerHtml]="content"></p>
  <app-choose-collections-form [(selectedIds)]="selectedCollections"></app-choose-collections-form>
</mat-dialog-content>
<mat-dialog-actions>
  <dialog-confirm-button>
    <button
      mat-fab
      activeColor="action"
      (click)="onConfirmCollections()"
      [disabled]="selectedCollections.length===0">
      <mat-icon>check</mat-icon>
    </button>
  </dialog-confirm-button>
</mat-dialog-actions>
