<app-nav [header]="'Packables'" [icon]="'fas fa-suitcase'" (info)="openModal(modalContent)"></app-nav>

<div class="row">
  <div class="col-12" >
    <app-packable-list [useCard]="true" [packables]="packables"></app-packable-list>
  </div>
</div>
<!-- <div class="row" *ngIf="deletedPackables && deletedPackables.length>0">
  <div class="col-12" >
    <h5>Dormant Packables</h5>
    <p>{{deletedPackables | join:', ':'name'}}</p>
  </div>
</div> -->
<ng-template #modalContent>
  <H5>Packables</H5>
  <p>Packables are items you can pack. For example, a T-Shirt, or a Toothbrush.</p>
  <p>You can either download prepared Packables, or create them from scratch, then you add them to your profiles</p>
  <p>You can set the Packables' default packing conditions, like how many Shirts you want to pack per day of your trip.</p>
  <p>Once Packables are in a Profile, their settings can be customised to the individual's needs! This will not change
    the default settings of the Packable or the settings in any other Profile.</p>
</ng-template>