<app-nav [header]="'Packables'" (rightClick)="openModal(modalContent)"></app-nav>

<div class="row">
  <div class="col-12" >
    <app-packable-list [useCard]="true" [packables]="packables"></app-packable-list>
  </div>
</div>

<ng-template #modalContent>
  <h4>Packables</h4>
  <p class="lead">
    Packables are "smart" items you take with you on a trip. 
  </p>
  <p>
    Each Packable has its own Quantity Rules (eg.
    <i>1 Per day</i>
    ) and Weather Conditions (eg.
    <i>only for rainy weather</i>
    ), to help the app calculate how many and when to pack them.
  </p>
  <p>You can import some of the Packables we prepared for you, or if you can't find what you want simply create your own!</p>
  <p>When added to Collections and Travelers, a Packble can have different rules applied to it to fit the specific Collection and Traveler.</p>
  <p>To make changes to the rules of a Packable across all your Collections and Travelers make sure you are editing them through the Packables page.</p>
</ng-template>