.column_list_containter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
}
.column_list_containter > *{
    flex-grow: 0;
}
mat-card.packable {
    cursor: pointer;

    padding: 0.4em;
    margin-bottom: 0.2em;
}
mat-card.packable.clickable{
    transition: all 200ms;
    z-index: 1;
}
mat-card.packable.clickable:hover {
    transform: translateY(-0.2em);
    box-shadow: 0 5px 10px -3px rgba(0,0,0,0.5), 0px 0px 8px -2px rgba(0,0,0,0.2);
    z-index: 2;
} 

mat-card.packable.details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
mat-card.packable.details > .name {
    flex:1 0 30%;
}
mat-card.packable.details > .name > p {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

mat-card.packable.details > .quantity {
    flex:1 1 auto;
    text-align: left;
}
mat-card.packable.details > .quantity > p{
    font-size: 0.7em;
    margin:0;
    color:grey;
}
mat-card.packable.details > .rule-icons {
    flex:1 1 20%;
    text-align: right;
}
mat-card.packable.details > .rule-icons > mat-icon{
    flex:0 1 auto;
}