

.packable.details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.packable.details > .name {
    flex: 0 0 40%;
}
.packable.details > .name > p {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.packable.details > .quantity {
    flex: 1 1 auto;
    text-align: left;
}
.packable.details > .quantity > p{
    font-size: 0.7em;
    margin:0;
    color:grey;
}
.packable.details > .rule-icons {
    display: flex;
    flex-direction: row-reverse;   
    flex-wrap: wrap; 
    align-items: center;
    flex: 1 1 auto;
    text-align: right;
    line-height: 1em;
    font-size: 1.5em;
    min-height: 2em;
}
.packable.details > .rule-icons.small-screen{
    line-height: 1.1em;
    font-size: 1.1em;
}
.packable.details > .rule-icons > .icon-container{
    flex:0 1 auto;
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0.1em;
}
.packable.details > .rule-icons.small-screen > .icon-container{
    flex:0 1 auto;
    height: 1em;
    width: 1em;
}