<div class="col-12 col-lg-10 offset-lg-1" >
  <mat-card *ngIf="!authService.isAuthenticated(); else userSettings">
    <mat-tab-group #tabGroup>
      <mat-tab label="Login" #login>
        <div class="pt-3">
          <app-login (onSuccess)="onLogin()"></app-login>
        </div>
      </mat-tab>
      <mat-tab label="Register" #register>
        <div class="pt-3">
          <app-register (onSuccess)="onRegister()"></app-register>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<ng-template #userSettings>
<mat-card>
  <h1>User Settings</h1>
  <p>Welcome to user settings</p>
</mat-card>

</ng-template>