

.dialog-header {
    position: relative;
    text-align: center;
    padding: 24px;
    margin: -24px;
    margin-bottom: 0px;
}

.close-button {
    position: absolute!important;
    right: 0!important;
    top: 0!important;
}
.return-button {
    position: absolute!important;
    left: 0!important;
    top: 0!important;
}

.title {
    display: block;
    width: 100%;
    line-height: 1em;
}

.title.super {
    font-size: 0.6em;
    line-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title>.header {
    font-size: 1.6em;
    line-height: 1.1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}