<div id="profileForm" class="full-flex">
  <div class="ff-row-header">Header</div>
  <div class="ff-row-main">
    <form>
      <div class="form-border">
        <div class="form-row">
          <div class="col-12 col-sm-7 col-lg-8">
            <div class="from-group">
              <label for="destination">Destination</label>
              <input type="text" name="destination" class="form-control" placeholder="Enter city or country">
            </div>

          </div>
          <div class="col-12 col-sm-5 col-lg-4">
            <div class="form-group">
              <label for="dates">Dates</label>
              <app-date-range-selector (datesSelected)="onDatesSelected($event)"></app-date-range-selector>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>