<div id="profileForm" class="full-flex">
  <app-mobile-nav [nav]="navParams" (leftAction)="return()" (rightAction)="onSubmit()"></app-mobile-nav>
  <div class="ff-row-main">
    <form [formGroup]="tripForm">
      <div class="form-border">
        <div class="form-row">
          <div class="col-12 col-sm-7 col-lg-8">
            <div class="form-group">
              <label for="destination">Destination</label>
              <input formControlName="destinationId" type="text" 
              name="destination" class="form-control" placeholder="Enter city or country" 
              [matAutocomplete]="auto" 
              [value]="tripForm.get('destinationId').value | fullPlaceName">
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredDestOptions | async" [value]="option.id">
                    {{option.fullName}}
                  </mat-option>
              </mat-autocomplete>
            </div>

          </div>
          <div class="col-12 col-sm-5 col-lg-4">
            <div class="form-group">
              <label for="dates">Dates</label>
              <app-date-range-selector (datesSelected)="onDatesSelected($event)"></app-date-range-selector>
            </div>
          </div>
        </div>
      </div>
    </form>
    <app-desktop-nav [nav]="navParams" (leftAction)="return()" (rightAction)="onSubmit()" (optionAction)="onOption($event)"></app-desktop-nav>
  </div>
</div>