<div class="form-row">
    <div class="col-12 d-flex align-items-end" >  
      <span class="form-heading" (click)="!limitTemp && toggleTemp(true)">
            Limit Temperature
        </span>
        <div class="ml-auto">
            <mat-slide-toggle #limitTempInput (change)="onToggleTemp($event)" [checked]="limitTemp"></mat-slide-toggle>
        </div>
    </div>
    <div class="col-12">
      <div *ngIf="limitTemp" @expandAndFadeTrigger>
        <ng5-slider [(value)]="inputWeather.minTemp" [(highValue)]="inputWeather.maxTemp" [options]="options"></ng5-slider>
      </div>
    </div>
</div>

<div class="form-row">
  <div class="col-12 d-flex align-items-end">
      <span class="form-heading" (click)="!limitWeather && toggleWeather(true)">
          Limit Weather
      </span>
      <div class="ml-auto">
          <mat-slide-toggle (change)="onToggleWeather($event)" [checked]="limitWeather"></mat-slide-toggle>
      </div>
  </div>
</div>
<div class="form-row">
    <div class="col-12" >
      <div  *ngIf="limitWeather" @expandAndFadeTrigger class="spread">
        <ng-template  ngFor let-weather [ngForOf]="weatherOptions">
            <app-icon-checkbox 
              [checked]="isChecked(weather)" 
              [disabled]="!limitWeather"
              [icon]="weather"
              spacer="0px"
              [smallScreen]="true"
              (change)="toggleCheckbox(weather)">
              {{weather | titlecase}}
            </app-icon-checkbox>

        </ng-template>

      </div>
    </div>

</div>

