<app-nav [header]="'Travelers'" (rightClick)="openModal(profileModal)"></app-nav>

<profile-selector-panel @blockInitialAnimations 
  [profiles]="profiles" 
  [(selected)]="selectedProfileId" 
  (selectedChange)="onSelectedProfiles()"
  (clickSettings)="editProfile()"
  (deleteProfile)="onDeleteProfile($event)">
</profile-selector-panel>

<ng-container *ngIf="selectedProfileId">
  <div class="row">
    <div class="col-12">
      <app-collection-list [profileId]="selectedProfileId" [collections]="profileCollections"></app-collection-list>
    </div>
  </div>
</ng-container>




<ng-template #profileModal>
    <H5>Profiles</H5>
    <p>Profiles can be created for each person you may want to pack for. </p>
    <p>A Profile may contain loose Packables, or Collections with Packables.</p> 
    <p>You can also customise the quantities and conditions for each Packable or Collection you add, without affecting other profiles that use the same Packables.</p>
    <p>Once you finished creating a Profile you can add it to a Trip and create a packing list per your settings.</p>
    <p>You should always tweak and change your profile after each trip to optimise it's settings until you have the perfect set up for any trip!</p>
    <p>You may download basic Profiles, with common Packables to get you started.</p>
</ng-template>