<app-dialog-header
  [super]="collectionName"
  header="Add Packables"
  (close)="onClose(null)">
</app-dialog-header>
<mat-dialog-content>
  <div
    @transitionTrigger
    (@transitionTrigger.done)="windowService.updateOpenDialogs()"
    *ngIf="step == 1">
    <import-packables-selector
      [collection]="collection"
      (updateSelected)="onUpdateSelected($event)">
    </import-packables-selector>
  </div>
  <div
    @transitionTrigger
    (@transitionTrigger.done)="windowService.updateOpenDialogs()"
    *ngIf="step == 2"
    class="text-center">
    <p class="text-small">
      The
      <i>"{{collectionName}}"</i>
      Collection is also used by other Travelers.
      <br>
      Select the Travelers you would like to update:
    </p>
    <profile-selector
      iconWidth="50px"
      [profiles]="profileGroup"
      [(selected)]="selectedProfiles"
      [multiselect]="true"
      [showNames]="true">
    </profile-selector>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <dialog-confirm-button>
    <button
      mat-fab
      activeColor="action"
      (click)="onConfirm()"
      [disabled]="!valid()">
      <mat-icon>check</mat-icon>
    </button>
  </dialog-confirm-button>
</mat-dialog-actions>
