<app-nav
  [header]="'Packable.app'"
  [rightIcon]="(authenticated$ | async)?helpIcon:null"
  (rightClick)="openModal(aboutPackable)">
</app-nav>



<user-landing *ngIf="(authenticated$ | async); else notSignedIn"></user-landing>
<ng-template #notSignedIn>
  <p class="text-center d-md-none">
    Welcome to Packable.app
    <br>
    <a
      routerLink="/user"
      fragment="login"
      class="inline-link">
      Login
    </a>
    &nbsp;or&nbsp;
    <a
      routerLink="/user"
      fragment="register"
      class="inline-link">
      register
    </a>
  </p>
  <ng-container *ngTemplateOutlet="aboutPackable"></ng-container>
</ng-template>
<ng-template #aboutPackable>
  <p class="lead">
    <span>
      Packable.app allows you to quickly create a packing list for your upcoming trips.
    </span>
  </p>
  <p>
    <span>
      You can use pre-defined templates to create a Traveler profile, and later customize your preferences so that next time you travel you can simple rely on Packable.app to calculate and tell you exactly what you need to pack.
    </span>
  </p>


</ng-template>
<div class="image-pos">
  <div class="image-container"></div>
</div>
