
<div class="toolbar" [class.listEditing]="listEditing" [class.small-dispay-toolbar]="windowService.max('xs')">
    <ng-container *ngIf="listEditing === false">
      <icon-text-button text="Select" svgIcon="list" (onClick)="toggleListEditing(true)"></icon-text-button>
    </ng-container>

    <ng-container *ngIf="listEditing">
      <mat-checkbox 
        [checked]="!selected.isEmpty" 
        [indeterminate]="!selected.isEmpty && collectionList.length > selected.length"
        (change)="masterCheckboxChange($event)"
        [class.small-device-checkbox]="windowService.max('xs')">
      </mat-checkbox>
    </ng-container>

    <ng-container *ngIf="listEditing && !selected.isEmpty">
        <icon-text-button [text]="'Remove('+selected.length+')'" matIcon="delete_forever" (click)="null" class="text-danger text-danger-hover" color="danger" (onClick)="removeSelectedCollections()"></icon-text-button>
    </ng-container>
    <ng-container *ngIf="selected.isEmpty">
      <icon-text-button text="Import" matIcon="cloud_download" (onClick)="null" showTextFromSize="xs"></icon-text-button>
      <icon-text-button text="Create" svgIcon="collection3" (onClick)="newCollection()" showTextFromSize="xs"></icon-text-button>
    </ng-container>
    <ng-container *ngIf="listEditing">
        <button mat-icon-button (click)="toggleListEditing(false)" class="closeButton">
          <mat-icon color="primary">close</mat-icon>
        </button>
    </ng-container>
</div>
<mat-accordion #collectionAccordion>
  <mat-expansion-panel class="collection-panel" 
  *ngFor="let collection of collectionList" 
  (opened)="expandCollection(collection.id, collectionMatPanel)"
  (closed)="collapseCollection(collection.id)"
  [disabled]="listEditing"
  [class.listEditing]="listEditing"
  hideToggle
  #collectionMatPanel
  @evaporateTransitionTrigger>
    <mat-expansion-panel-header>
      
      <mat-panel-title class="collection-title" [class.small]="windowService.max('xs')">
          <div class="collection-checkbox" *ngIf="listEditing">
              <mat-checkbox [checked]="isSelected(collection.id)" (change)="checkboxChange($event, collection.id)"></mat-checkbox>
          </div>
        {{collection.name}}
      </mat-panel-title>
      <mat-panel-description class="collection-nav" *ngIf="!listEditing">
        &nbsp;
        <ng-container *ngIf="!profileId && !!collection.selectedProfile && collection.expanded">
            <profile-icon 
              [profileId]="collection.selectedProfile"
              [showName]="false"  
              [isInteractive]="true" 
              [isButton]="true" 
              inputWidth="40px"
              (click)="toggleProfileSelector(collection.id)" InnerLink>
            </profile-icon>
          </ng-container>
        <button mat-icon-button (click)="togglePanel(collection.id, 'list', collectionMatPanel)" [color]="isPanelOpen(collection.id, 'list') ? 'accent' : 'primary'" InnerLink>
          <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button (click)="togglePanel(collection.id, 'settings', collectionMatPanel)" [color]="isPanelOpen(collection.id, 'settings') ? 'accent' : 'primary'" InnerLink>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="collection.expanded" @transitionTrigger>
        <div *ngIf="!contextProvided && profileSelectorOpen(collection.id)" @evaporateTransitionTrigger class="text-center">
            <profile-selector 
              iconWidth="50px" 
              [profiles]="collection.profileGroup" 
              [selected]="[collection.selectedProfile]" 
              (selectedChange)="changeProfileId(collection.id, $event)"
              [multiselect]="false"
              [showNames]="true">
            </profile-selector>
        </div>
        <div *ngIf="collection.selectedProfile != null" @transitionTrigger>
          <app-collection-panel 
          [collection]="collection.complete" 
          [selectedView]="collection.panel" 
          [profileId]="collection.selectedProfile"
          (removeCollection)="removeCollection(collection.id)"
          (change)="updateViewObject(collection.id)"
          ></app-collection-panel>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-container *ngIf="!profileId && unusedCollectionList && unusedCollectionList.length>0">
  <h5 class="mt-3 mb-2">Unused Collections:</h5>
  <p class="small text-muted">These Collections have been removed from all Travelers and are currently not being used
    with any customization.</p>
  <ng-container *ngFor="let collection of unusedCollectionList">
    <collection-details-card [collection]="collection" actionType="button" buttonState="add" (actionClick)="pushCollection(collection)"></collection-details-card>
  </ng-container>
</ng-container>