.collection-panel > mat-expansion-panel-header{
    font-size: 1.5em;
 }
 .collection-panel:not(.mat-expanded){
     margin:0.25em 0;
 }
 
 .collection-title{
     flex-basis: 0;
     flex-grow: 1;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     align-self: center;
     margin: 0;
 }
 .collection-nav{
     justify-content: flex-end;
     align-items: center;
     flex-basis: 0;
     flex-grow: 0;
     margin-right: 0;
     align-self: center;
 }
 .icon-container{
     flex:0 1 auto;
     display: inline-block;
     height: 1em;
     width: 1em;
     margin: 0.1em;
     position: relative;
 }
 .icon-container > mat-icon {
     width:100%;
     height: 100%;
     position: absolute;
 }