<mat-accordion>
  <mat-expansion-panel class="collection-panel" 
  *ngFor="let collection of collectionList" 
  (opened)="expandCollection(collection.id)"
  (closed)="collapseCollection(collection.id)"
  [disabled]="listEditing"
  hideToggle
  #collectionMatPanel
  @evaporateTransitionTrigger>
    <mat-expansion-panel-header>
      <mat-panel-title class="collection-title" [class.small]="windowService.max('xs')">
        {{collection.name}}
      </mat-panel-title>
      <mat-panel-description class="collection-nav">
        &nbsp;
        <ng-container *ngIf="!profileId && !!collection.selectedProfile && collection.expanded">
            <profile-icon 
              [profileId]="collection.selectedProfile"
              [showName]="false"  
              [isInteractive]="true" 
              [isButton]="true" 
              inputWidth="40px"
              (click)="toggleProfileSelector(collection.id)" InnerLink>
            </profile-icon>
          </ng-container>
        <button mat-icon-button (click)="togglePanel(collection.id, 'list', collectionMatPanel)" [color]="isPanelOpen(collection.id, 'list') ? 'accent' : 'primary'" InnerLink>
          <mat-icon>list</mat-icon>
        </button>
        <button mat-icon-button (click)="togglePanel(collection.id, 'settings', collectionMatPanel)" [color]="isPanelOpen(collection.id, 'settings') ? 'accent' : 'primary'" InnerLink>
          <mat-icon>settings</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="collection.expanded" @transitionTrigger>
        <div *ngIf="!contextProvided && profileSelectorOpen(collection.id)" @evaporateTransitionTrigger class="text-center">
            <profile-selector 
              iconWidth="50px" 
              [profiles]="collection.profileGroup" 
              [selected]="[collection.selectedProfile]" 
              (selectedChange)="changeProfileId(collection.id, $event)"
              [multiselect]="false"
              [showNames]="true">
            </profile-selector>
        </div>
        <div *ngIf="collection.selectedProfile != null" @transitionTrigger>
          <app-collection-panel 
          [collection]="collection.complete" 
          [selectedView]="collection.panel" 
          [profileId]="collection.selectedProfile"
          (removeCollection)="removeCollection(collection.id)"
          (change)="updateViewObject(collection.id)"
          ></app-collection-panel>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>