<div class="stepper-container">
  <ng-container *ngFor="let step of steps; let i = index">
      <div class="step">
          <icon-text-button
            [text]="step.text"
            [matIcon]="step.icon.type =='mat' ? step.icon.name : null"
            [svgIcon]="step.icon.type =='svg' ? step.icon.name : null"
            [color]="currentStep > i+1 ? 'action' :  (currentStep ==  i+1 ? 'accent' : 'muted')"
            showTextFromSize="lg"
            innerPadding="0.2em"
            (onClick)="onClickStep(i+1)">
          </icon-text-button>
        </div>
        <div class="line" *ngIf="steps.length >  i+1" appColor="muted">
          <div class="inner-line" [class.complete]="currentStep >  i+1 " appColor="action"></div>
        </div>
  </ng-container>
</div>