.stepper-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.step{
    flex: 0 1 auto;
    font-size: 16px;
}
.line{
    flex: 1 1 0px;
    position: relative;
    height: 2px;
    background-color: currentColor;
    transition: border-color 300ms;
}
.inner-line{
    background-color: currentColor;
    flex: 1 1 0px;
    position: relative;
    height: 2px;
    width: 0%;
    transition: width 500ms;
}
.inner-line.complete{
    width:100%;
}