.stepper-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.step{
    flex: 0 1 auto;
    font-size: 16px;
}
.line{
    border-top-width: 2px;
    border-top-style: solid;
    flex: 1 1 0px;
    height: 0;
    transition: border-color 300ms;

}