<div class="stepper-container">
  <ng-container *ngFor="let step of steps; let i = index">
      <div class="step">
          <icon-text-button
            [text]="step.text"
            [matIcon]="step.icon.type =='mat' ? step.icon.name : null"
            [svgIcon]="step.icon.type =='svg' ? step.icon.name : null"
            [disabled]="i+2 > currentStep"
            [color]="currentStep > i+1 ? 'action' :  currentStep ==  i+1 ? 'accent' : 'muted'"
            showTextFromSize="lg"
            buttonWidth="30px"
            innerPadding="0.2em"
            (onClick)="onClickStep(i+1)">
          </icon-text-button>
        </div>
        <div class="line" *ngIf="steps.length >  i+1" [appColor]="currentStep >  i+1 ? 'action' : 'muted'" [appColorResponsive]="false">
        </div>
  </ng-container>
</div>