<app-nav [header]="'Collections'" [icon]="'fas fa-cubes'" (info)="openModal(collectionModal)"></app-nav>
<div class="row">
  <div class="col-12">
      <app-collection-list  [collections]="collections" @blockInitialAnimations></app-collection-list>
  </div>
</div>

<ng-template #collectionModal>
  <H5>Collections</H5>
  <p>Collections are a groups of Packables that usually have a common theme, or used in a certain situation. </p>
  <p>You can download prepared Collections, edit them or even make your own from scratch</p>
  <p>Once you have created or downloaded a collection you can add it to any of your profiles and then customise further
    it if you wish.</p>
  <p>You can set conditions on the Collection and it's Packables, and only if those conditions are met then the
    Packables will be added to a trip per their individual settings.</p>
  <p class="alert alert-info">E.g You can set a weather condition to only pack a Jumper, a Sweater and a Rain Jacker if
    the temperature is Below 15 Degrees during a certain trip</p>
  <H5>Activities</H5>
  <p>You can also mark a Collection as an Activity, and the items inside it will only show on trips where that activity
    is selected. <br>Note: You must add this Activity to each profile that may need to use it on a future trip.</p>
  <p class="alert alert-info">E.g A Diving Collection can contain your diving equipment, sunscreen and a towel. If you
    mark it as an Activity and add it to a Profile, it would appear as an option in your Trip Settings. Selecting that
    option when creating your trip would add the Collection Packables to your packing list on that Trip.</p>
</ng-template>