<app-nav
  [header]="'Collections'"
  (rightClick)="openModal(collectionModal)"></app-nav>
<div class="row">
  <div class="col-12">
    <app-collection-list
      [collections]="collections"
      @blockInitialAnimations
      #usedCollectionsComponent></app-collection-list>
  </div>
</div>
<!-- <div class="row mt-3"  *ngIf="unusedCollections && unusedCollections.length>0">
  <div class="col-12">
    <h5>Collections Not in Use</h5>
    <app-collection-list [collections]="unusedCollections" @blockInitialAnimations #usedCollectionsComponent></app-collection-list>
  </div>
</div> -->

<ng-template #collectionModal>
  <h4>Collections</h4>
  <p class="lead">
    Collections are groups of Packables that share the same category (eg. Toiletries) or relate to a certain activity (eg. Swimming).
  </p>
  <p>
    You can pick the Collections for every trip based on the activities planned, like a
    <i>Beach Collection</i>
    , while others can be set as Essential Collections, and will automatically be considered for every trip, like a
    <i>Basic Clothes Collection</i>
    .
  </p>
  <p>
    Each Collections can have its own Weather Conditions to limit when the app would suggest you should pack its contained Packables.
  </p>
  <p>
    You can import Collections we've set up for you, or simply make your own.
  </p>
  <p>
    You can customise your Collections and import them to your Travelers, then customize them further for every Traveler.
  </p>
  <p class="alert alert-info">
    While you may want to pack your <i>shaving razor</i> with your <i>toiletries</i>, your 9 year old kid could probably do without one!
  </p>
  <p>
    You can set conditions on the Collection and it's Packables, and only if those conditions are met then the
    Packables will be added to a trip.
  </p>
  <p class="alert alert-info">
    E.g You can set a weather condition to only pack a Jumper, a Sweater and a Rain Jacker if
    the temperature is Below 15 Degrees during a certain trip
  </p>
  <H5>Essential Collections</H5>
  <p>
    Marking a collection as Essential means it will always be automatically selected when you set a trip. This is perticularly useful for basic needs like clothes and toiletries. </p>
    <p> You can still set weather conditions on Essential Collections, and the Packing List calculator would take that into account.
</ng-template>
